<%= content_for :page_title, "Editing: #{@user.fullname}" %>
<%= content_for :body_id, 'registrations' %>
<%= content_for :body_class, 'edit' %>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="user-form">
            <div class="panel-heading">
                <span class="panel-title">My Profile</span>
            </div><!-- / .panel-heading -->
            <div class="panel-body">
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => "form", class: "confirm-changes"}) do |f| %>
                    <%= devise_error_messages! %>
					<h3>Personal Information</h3>
                    <div class="form-group">
                    	<%= f.label :firstname, "First Name" %>
                    	<%= f.text_field :firstname, :value =>  resource.firstname, :class => "form-control" %>
                    </div>
                    <div class="form-group">
                    	<%= f.label :lastname, "Last Name" %>
                    	<%= f.text_field :lastname, :value =>  resource.lastname, :class => "form-control" %>
                    </div>
                     <div class="form-group">
                        <%= f.label :affiliation, "Affiliation" %>
                        <%= f.text_field :affiliation, :value =>  resource.affiliation, :class => "form-control" %>
                    </div>
                      <div class="form-group">
                        <%= f.label :email, "Email" %>
                        <%= f.text_field :email, :value =>  resource.email, :class => "form-control" %>
                    </div>
                    <div class="form-group" style= "display:none">
                        <%= f.label ENV["CLASS_TERM_PLURAL"] %>
                        <%= f.text_field :rep_group_list, :class => "form-control", 'data-role' => "tagsinput", 'placeholder'=> ENV["CLASS_TERM_PLURAL"], :value => resource.rep_group_list.join(',') %>
                        <p class="help-block">Enter the names of any <%= ENV["CLASS_TERM_PLURAL"] %> you're in (or want to join), and <strong>press ENTER after each</strong>.</p>
                    </div>
                    <div class="form-group" style= "display:none">
                        <%= f.label ENV["GROUP_TERM_PLURAL"] %>
                        <%= f.text_field :rep_subgroup_list, :class => "form-control", 'data-role' => "tagsinput", 'placeholder'=> ENV["GROUP_TERM_PLURAL"], :value => resource.rep_subgroup_list.join(',') %>
                        <p class="help-block">Enter the names of any <%= ENV["GROUP_TERM_PLURAL"] %> you're in (or want to join), and <strong>press ENTER after each</strong></p>
                    </div>
                     <%= f.submit "Update", :class => "btn btn-default btn-default-primary btn-primary" %>
                     <%= link_to "Cancel", :back, :class => "btn btn-default" %>
                <% end %>
            </div><!--/panel-body -->
        </div><!--/panel -->
	</div><!--/col-md-12 -->
</div><!--/row -->
