<%= content_for :page_title, "Editing: #{@user.fullname}" %>
<%= content_for :body_id, 'registrations' %>
<%= content_for :body_class, 'edit' %>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default" id="user-form">
            <div class="panel-heading">
                <span class="panel-title">Edit Profile</span>
            </div><!-- / .panel-heading -->
            <div class="panel-body">
                <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => "form", class: "confirm-changes"}) do |f| %>
                    <%= devise_error_messages! %>
					<h3>Personal Information</h3>
                    <div class="form-group same-line">
                    	<%= f.label :firstname, "First Name" %>
                    	<%= f.text_field :firstname, :value =>  resource.firstname, :class => "form-control" %>
                    </div>
                    <div class="form-group same-line">
                    	<%= f.label :lastname, "Last Name" %>
                    	<%= f.text_field :lastname, :value =>  resource.lastname, :class => "form-control" %>
                    </div>
					<div class="form-group next-line same-line">
						<%= f.label :email %>
						<%= f.email_field :email, :value =>  resource.email, :disabled => true, :class => "form-control" %>
						<p class="help-block">Your email is your username, and cannot be changed.</p>
					</div>
					<div class="form-group same-line">
						<%= f.label :affiliation %>
						<%= f.text_field :affiliation, :value =>  resource.affiliation, :class => "form-control" %>
					</div>
					<div class="form-group next-line same-line">
						<button class="show-password-fields btn btn-default">Edit Password</button>
					</div>
					<h3 class="next-line">Classes</h3>
					<div class="form-group">
                        <%= f.text_field :rep_group_list, :class => "form-control", 'data-role' => "tagsinput", 'placeholder'=> "Enter your class name (e.g., ENG-5)" %>
                        <p class="help-block">Press ENTER after each class name.</p>
                    </div>
					<h3>Groups</h3>
					<div class="form-group">
                        <%= f.text_field :rep_subgroup_list, :class => "form-control", 'data-role' => "tagsinput", 'placeholder'=> "Enter group names if any (e.g. mapping group)" %>
                        <p class="help-block">Press ENTER after each group name.</p>
                    </div>
                     <%= f.submit "Update", :class => "btn btn-default btn-default-primary btn-primary" %>
                <% end %>
            </div><!--/panel-body -->
        </div><!--/panel -->
	</div><!--/col-md-12 -->
</div><!--/row -->
