<%= content_for :page_title, "Sign up" %>
<div class="row">
	<div class="col-md-12">
		<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :class => "form-horizontal"}) do |f| %>
		<%= devise_error_messages! %>
		<legend>Edit Profile for <%= resource.firstname %>  <%= resource.lastname %> </legend>
		<fieldset>
			<div class="form-group">
				<%= f.label :firstname, "First Name", :class => "control-label" %>
				<div class="controls">
				<%= f.text_field :firstname, :value =>  resource.firstname %>
				</div>

				<%= f.label :lastname, "Last Name", :class => "control-label" %>
				<div class="controls">
				<%= f.text_field :lastname, :value =>  resource.lastname %>
        </div>
      </div>

        <div class="form-group">
          <%= f.label "Class Groups", :class => 'control-label' %>
          <div class="controls">
              <%= f.text_field :rep_group_list, :class => 'text_field input-xxlarge', 'data-role' => "tagsinput", 'placeholder'=> "Enter Class Groups" %>
              <p class="help-block">Enter the group names of any class groups you're in, and press enter after each.</p>
          </div>
          <%= f.label "Working Groups", :class => 'control-label' %>
          <div class="controls">
              <%= f.text_field :rep_subgroup_list, :class => 'text_field input-xxlarge', 'data-role' => "tagsinput", 'placeholder'=> "Enter Working Groups" %>
              <p class="help-block">Enter the group names of any working groups you're in, and press enter after each</p>
          </div>
        </div>

        <div class="form-group">
				<%= f.label :email, :class => "control-label" %>
				<div class="controls">
				<%= f.email_field :email, :value =>  resource.email, :disabled => true %>
        <p class="help-block">Your email is your username, and cannot be changed.</p>
				</div>

				<%= f.label :affiliation, :class => "control-label" %>
				<div class="controls">
				<%= f.text_field :affiliation, :value =>  resource.affiliation %>
        </div>
        </div>

        <div class="form-group">
        <%= f.label :current_password, :class => "control-label" %>
        <div class="controls">
        <%= f.password_field :current_password %>
        <p class="help-block">(we need your current password to confirm your changes)</p>
        </div>
        </div>


			<div class="form-actions">
				<div><%= f.submit "Update", :class => "btn btn-default btn btn-default-primary" %></div>
		  	</div>
		<% end %>
	</div><!--/col-md-12 -->
</div><!--/row -->
