<% second_line = params[:controller] == 'documents' && (params[:action] == 'show' || params[:action] == 'edit') %>
<ol class="breadcrumb breadcrumb-inverse hidden-xs<%= " second-line" if second_line %>">
  <% if current_page?(dashboard_path) || current_page?(root_path) %>
    <li class="active">Dashboard</li>
  <% else %>
    <li><%= link_to("Dashboard", "/dashboard", :id => "dashboard-link") %></li>
  <% end %>

  <% if current_page?(documents_path) %>
    <li class="active">Documents</li>
  <% elsif params[:controller] == 'documents' %>
    <li><%= link_to("Documents", "/documents", :id => "documents-link") %></li>
    <% if params[:action] == 'show' %>
      <li class="active"><%= @document.title %></li>
    <% elsif params[:action] == 'preview' %>
      <li class="active">Snapshot Preview of <%= @document.title %></li>
    <% elsif params[:action] == 'new' %>
      <li class="active">New Document</li>
    <% elsif params[:action] == 'edit' %>
      <li class="active">Editing: <%= @document.title %></li>
    <% end %>
  <% end %>

  <% if current_page?(annotations_path) %>
    <li class="active">Annotations</li>
  <% end %>

  <% if current_page?(groups_path) %>
    <li class="active"><%= ENV["CLASS_TERM_PLURAL"] %>.capitalize and <%= ENV["GROUP_TERM_PLURAL"] %></li>
  <% end %>

  <% if current_page?(edit_user_registration_path) %>
    <li class="active">My Profile</li>
  <% end %>
</ol>
