<%= content_for :page_title, 'Groups' %>
<%= stylesheet_link_tag "groups" %>
<div class="row">
	<div class="col-md-12">
    <ul class="nav nav-tabs" id="group-tabs">
      <li class="active"><a href="#groups" data-toggle="tab"><span class="badge"><%= current_user.rep_group_list.size %></span> Class Groups</a></li>
      <li><a href="#subgroups" data-toggle="tab"><span class="badge"><%= current_user.rep_subgroup_list.size %></span> Working Groups</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="groups">
        <table class="table table-bordered">
        <% current_user.rep_group_list.each do |group| %>
            <tr>
              <td><%= group %></td>
            </tr>
          <% end %>
        </table>
    </div>
      <div class="tab-pane" id="subgroups">
        <table class="table table-bordered">
        <% current_user.rep_subgroup_list.each do |group| %>
            <tr>
              <td><%= group %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
	</div><!--/col-md-12 -->
</div><!--/row -->
