<h4Bold> Group: <%= @group.name %></h4Bold>
<br><br><br>

<% if in_group(params[:id])%>
<% if @group.ideaSpaceOn %>
	<button class="btn btn-primary"><a href="http://annotation-studio-idea-space.herokuapp.com/" id='is-link'> Access Idea Space </a>
	</button>
<% end %>

<% unless is_member(params[:id]) %>
<%= link_to "Manage Group", {:controller=> "groups", :action => "edit", :id => params[:id]}, {:class=> 'btn btn-primary'} %>
<% end %>

<% unless is_owner(params[:id]) %>
   <%= link_to "Leave", {:controller=> "groups", :action =>"leave", :id => params[:id]}, {:class=> 'btn btn-primary', data: {confirm: "Are you sure you want to leave this group?", toggle: 'tooltip', placement: 'top', 
          original_title: 'Delete'}} %>
<% end %>



 <br><br>All Members 
	<table class="member-table">
		<tr class="member-table-row">
			<th> Name </th>
			<th> Role </th>
		</tr>
	<% if !@memberships.empty? %>
	<% @memberships.each do |m| %>
			<tr class="member-table-row"> 
				<% @user = User.find(m.user_id) %>
				<td> <%= @user.firstname + " " + @user.lastname[0] + "." %></td>

				<td> <%= m.role %> </td> 
			</tr>
		<% end %>
	<% end %>
	</table>





<% else %>

You do not have permission to view this page. 

<% end %>


	<style>
	#idea-space {
		
	}
	.member-table {
	  border-collapse: collapse;
	  width: 60%;
	  background-color: white;
	}

	td, th {
	  border: 2px solid #EFEFEF;
	  text-align: left;
	  padding: 5px;
	}

	.member-table-row:nth-child(even) {
	  background-color: #DFDFDF;
	}

	#is-link{
		color:black;
	}

	#is-link:hover{
		color:white;
	}

	a:hover{
		text-decoration: none;
	}


	</style>

