<h1> <%= @group.name %></h1>

<% if in_group(params[:id])%>

<% if @group.ideaSpaceOn %>
<br>
<div id="idea-space">
	<a href="http://annotation-studio-idea-space.herokuapp.com/" > Idea Space </a>
</div>
<br>

<% end %>

<% unless is_member(params[:id]) %>
<%= link_to "Manage Group", :controller=> "groups", :action => "edit", :id => params[:id] %>
<% end %>


<h2> Members </h2> 
	<table class="member-table">
		<tr class="member-table-row">
			<th> Name </th>
			<th> Role </th>
		</tr>
	<% if !@memberships.empty? %>
	<% @memberships.each do |m| %>
			<tr class="member-table-row"> 
				<% @user = User.find(m.user_id) %>
				<td> <%= @user.firstname + " " + @user.lastname[0] + "." %></td>

				<td> <%= m.role %> </td> 
			</tr>
		<% end %>
	<% end %>
	</table>

<% unless is_owner(params[:id]) %>
   <%= link_to "Leave", :controller=> "groups", :action =>"leave", :id => params[:id] %>
<% end %>



<% else %>

You do not have permission to view this page. 

<% end %>


	<style>
	#idea-space {
		
	}
	.member-table {
	  border-collapse: collapse;
	  width: 50%;
	}

	td, th {
	  border: 2px solid #dddddd;
	  text-align: left;
	  padding: 5px;
	}

	.member-table-row:nth-child(even) {
	  background-color: #ced4de;
	}
	</style>

