<h3> Group: <%= @group.name %></h3>

<% if in_group(params[:id])%>



<% if @group.ideaSpaceOn %>
<br>
<div id="idea-space">
	<p class="greyText">Idea Space is enabled for this group; Organize annotations there.</p>
	<a href="http://annotation-studio-idea-space.herokuapp.com/" id='is-link'> Idea Space </a>
</div>
<br>

<% end %>

<% unless is_member(params[:id]) %>
<%= link_to "Manage Group", {:controller=> "groups", :action => "edit", :id => params[:id]}, {:class=> 'btn btn-default'} %>
<% end %>

<% unless is_owner(params[:id]) %>
   <%= link_to "Leave", {:controller=> "groups", :action =>"leave", :id => params[:id]}, {:class=> 'btn btn-default', data: {confirm: "Are you sure you want to leave this group?", toggle: 'tooltip', placement: 'top', 
          original_title: 'Delete'}} %>
<% end %>



<h4> Members </h4> 
	<table class="member-table">
		<tr class="member-table-row">
			<th> Name </th>
			<th> Role </th>
		</tr>
	<% if !@memberships.empty? %>
	<% @memberships.each do |m| %>
			<tr class="member-table-row"> 
				<% @user = User.find(m.user_id) %>
				<td> <%= @user.firstname + " " + @user.lastname[0] + "." %></td>

				<td> <%= m.role %> </td> 
			</tr>
		<% end %>
	<% end %>
	</table>





<% else %>

You do not have permission to view this page. 

<% end %>


	<style>
	#idea-space {
		
	}
	.member-table {
	  border-collapse: collapse;
	  width: 50%;
	}

	td, th {
	  border: 2px solid #dddddd;
	  text-align: left;
	  padding: 5px;
	}

	.member-table-row:nth-child(even) {
	  background-color: #ced4de;
	}

	#is-link{
		color:#FCCD03;
		background-color: black;
		padding:3px;
		display:inline-block;
		margin-right:20px;
	}

	a:hover{
		text-decoration: none;
	}


	</style>

