<%= content_for :page_title, "Group: #{@group.name}" %>
<%= content_for :body_id, 'groups' %>
<%= content_for :body_class, 'show' %>
<%= stylesheet_link_tag "groups" %>
<% if in_group(params[:id])%>
  <div class="panel panel-default">
    <div class="panel-heading">
      <span class="panel-title"> <%= @group.name %> </span>
    </div>
    <!-- / .panel-heading -->
    <div class="panel-body">
      <div class="col-md-9">
        <table class="table table-striped table-bordered">
          <tr>
            <th> Name </th>
            <th> Role </th>
          </tr>
          <% if !@memberships.empty? %>
            <% @memberships.includes(:user).each do |m| %>
              <tr>
                <% @user = m.user %>
                <td> <%= @user.firstname + " " + @user.lastname %></td>
                <td> <%= m.role %> </td>
              </tr>
            <% end #.each %>
          <% end #if%>
        </table>
      </div>
      <div class="col-md-3">
        <% if is_owner(params[:id]) %>
          <%= link_to edit_group_path(id: @group.id) , :class => 'btn btn-primary' do %>
            <i class="glyphicon glyphicon-pencil" title="Edit"></i> Manage
          <% end %>
        <% end %>
        <% unless is_owner(params[:id]) %>
          <%= link_to "Leave", {:controller=> "groups", :action =>"leave", :id => params[:id], :class=> 'btn btn-danger', data: {confirm: "Are you sure you want to leave this group?", toggle: 'tooltip', placement: 'top', original_title: 'Delete'}} do %>
            <i class="glyphicon glyphicon-remove" title="Edit"></i> Leave
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
<% else %>
  You do not have permission to view this page.
<% end %>
