<%= content_for :page_title, 'Groups' %>
<%= stylesheet_link_tag "groups" %>
<%= javascript_include_tag "widget" %>
<script type="text/javascript">
jQuery(function ($) {
    var widget = new Widget.App();
    var endpoint = '<%= ENV["API_URL"] %>';
    var token = '<%= session["jwt"] %>';
    // Backbone.history.start({pushState: true, root: window.location})

    var loadOptions = {
        'limit': 20,
        // 'groups': "<%= current_user.rep_group_list %>".split(/, /),
        // 'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
        'host': location.host,
        'user': "<%= current_user.email %>",
        'mode': 'user',
        'context': 'dashboard',
    };
    widget.listAnnotations(loadOptions, endpoint, token);
});
</script>
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="document-tabs">
          <li class="active"><a href="#mine" data-toggle="tab"><span class="badge"></span> Mine</a></li>
          <li><a href="#group" data-toggle="tab"><span class="badge"></span> <%= ENV["GROUP_TERM_PLURAL"] %></a></li>
          <li><a href="#class" data-toggle="tab"><span class="badge"></span> <%= ENV["CLASS_TERM_PLURAL"] %></a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="mine">
                <ul id="annotation-list" class="unstyled">
                    <script type="text/template" id="user-comment-template">
                        <span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a></span>
                    </script>
                    <script type="text/template" id="user-highlight-template">
                        <span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
                    </script>
                </ul>
            </div>
            <div class="tab-pane" id="group">
            <table class="table table-bordered">
                <tr>
                  <td>Coming soon...</td>
                </tr>
            </table>
            </div>
            <div class="tab-pane" id="class">
            <table class="table table-bordered">
                <tr>
                  <td>Coming soon...</td>
                </tr>
            </table>
            </div>
        </div>
    </div><!--/col-md-4 -->
</div><!--/row -->
