<div class="row">

  <% @mygroups.each do |g| %>
    <div class= "column"> 
       <span class="title"> <%= link_to g.name, group_path(id: g.id) %> <br> </span>
       <br>

       <% m = Membership.where(group_id: g.id) %>
        Members: <%= m.size %> <br>
        Managers: <%= m.where(role: "manager").size %>

       <br>
       <br>
       <%= link_to "Edit", edit_group_path(id: g.id) %>
    </div>
  <% end %>
  </div>

  <div class='pagination-controls'>
      <%= will_paginate @mygroups, renderer: BootstrapPagination::Rails %>
    </div>
