<div class="row">
  <% @myDocs.each do |doc| %>



    <div class= "column"> 
      <span class="title"><%= link_to doc.title, document_path(id: doc.id) %> </span>
       <br>
       <br>

        <div class="tile-content"> 

        <%= 'Author: '+ doc.author if doc.author != "" %> <br>
      
       Created: <%= doc.created_at.strftime("%m/%d/%Y") %> <br> 
       
       Groups: <%= doc.groups.pluck(:name) %> <br>

       Status: 
       <span id="status-icon"> 
        <% case doc.state %>
          <% when 'draft' %>
            <i class="glyphicon glyphicon-pencil" title="<%= doc.state %>"></i>
          <% when 'published' %>
            <i class="glyphicon glyphicon-comment" title="<%= doc.state %>"></i>
          <% when 'archived' %>
            <i class="glyphicon glyphicon-folder-close" title="<%= doc.state %>"></i>
          <% when 'public' %>
            <i class="glyphicon glyphicon-globe" title="<%= doc.state %>"></i>
          <% else %>
            <%= doc.state %>
          <% end %>
       </span> 
  
     </div> <!-- tile-content-->

       <br>

       <%= link_to "Edit", controller: "documents", action: "edit", id: doc.id %> <br>

       



    </div> <!-- end column -->

    <!-- change badge color if new doc since last login.  -->
  <% end %> <!-- end doc loop -->
  </div>  <!-- end row -->

  <div class='pagination-controls flex-wrap'>
      <%= will_paginate @myDocs, renderer: BootstrapPagination::Rails %>
  </div>