<div class="row">

  <% @mygroups.each do |g| %>
    <div class= "column"> 
       <span class="title"> <%= link_to g.name, group_path(id: g.id) %> <br> </span>
       <div class="h_line"></div>



       <% m = Membership.where(group_id: g.id) %>
        Owner: <%=current_user.firstname=%><!--%= User.find(g.owner_id)%--><br>
        Members: <%= m.size %> <br>
        Editors: <%= m.where(role: "manager").size %>


       <br>
       <br>
       <button class="editButton" ><%= link_to "Edit", edit_group_path(id: g.id) %></button>
    </div>
  <% end %>
  </div>

  <div class='pagination-controls'>
      <%= will_paginate @mygroups, renderer: BootstrapPagination::Rails %>
    </div>
