<div style="padding-left:30px; z-index: 1;" >

<% if params[:nav] && (params[:nav].include? "groups") %>

<h4> Groups Search </h4>

<%= form_tag groups_path, :method => 'get' do %>
	<%= label_tag 'Search by Group name' %>
	<%= text_field_tag 'search', nil, id: 'dash-groups-search' %>
	<%= submit_tag "Search" %>
<% end #form_tag %>

<h4> Sort </h4>
	<%= form_tag groups_path, :method => 'get', :data => {remote: true} do %>
		<table class="search-options">
			<tr>
				<td><%= radio_button_tag 'time', 'timeDESC', true, onchange: "groupSort(this)", class: 'radio' %></td>
				<td> <%= label_tag 'Time Descending' %> (newest first) </td>

			</tr>

			<tr>
				<td> <%= radio_button_tag 'time', 'timeASC', nil, onchange: "groupSort(this)", class: 'radio'%> </td>
				<td> <%= label_tag 'Time Ascending' %> (oldest first) </td>
			</tr>
			
		</table>

	<% end %>

<% elsif params[:nav] && (params[:nav].include? "annotations") %>

	<h4> Annotations Search </h4>
	<p class="help-block"> Search by: </p>

	<%= form_tag :controller=> 'annotations', :action=> 'search' do %>
		<table>
			<tr> 
				<td><%= radio_button_tag 'method', "user", true %> </td>
				<td><%= label_tag "Annotator's first name " %></td>
			</tr>
			<tr>
				<td><%= radio_button_tag 'method', 'groups' %> </td>
				<td> <%= label_tag "Groups (only shared annotations)" %></td>
			</tr>
		</table>

		<%= label_tag "Search" %>
		<%= text_field_tag 'search', nil, id: 'dash-annotations-search' %>
		<%= submit_tag "Search" %>
<% end #form_tag %>


<% else %>

<h4> Documents Search </h4>

<%= form_tag documents_path, :method => 'get' do %>
	<p class="help-block"> Search by: </p>
	<table>
		<tr> 
			<td><%= radio_button_tag 'method', 'title', true, onchange: "opt(this)" %> </td>
			<td><%= label_tag "Title" %></td>
		</tr>
		<tr>
			<td><%= radio_button_tag 'method', 'author', nil, onchange: "opt(this)" %> </td>
			<td> <%= label_tag "Author" %></td>
		</tr>
		<tr> 
			<td> <%= radio_button_tag 'method', 'status', nil, onchange: "opt(this)" %> </td>
			<td> <%= label_tag "Status" %> </td>
		</tr>
		<tr> 
			<td> <%= radio_button_tag 'method', 'group', nil, onchange: "opt(this)" %> </td>
			<td> <%= label_tag "Group" %> </td>
		</tr>
	</table>

	<%= text_field_tag 'search', nil, id: 'dash-documents-search' %>
	<%= submit_tag "Search" %>

	<h4> Sort </h4>
	<%= form_tag documents_path, :method => 'get', :data => {remote: true} do %>

		<table class="search-options">
			<tr>
				<td><%= radio_button_tag 'filter', 'timeDESC', true, onchange: "docSort(this)", class: 'radio' %></td>
				<td> <%= label_tag :title, 'Newest first' %> </td>
			</tr>

			<tr>
				<td> <%= radio_button_tag 'filter', 'timeASC', nil, onchange: "docSort(this)", class: 'radio'%> </td>
				<td> <%= label_tag :title, 'Oldest first' %> </td>
			</tr>
			<tr>
				<td> <%= radio_button_tag 'filter', 'A-Z', nil, onchange: "docSort(this)", class: 'radio'%> </td>
				<td> <%= label_tag :title, 'A-Z' %> </td>
			</tr>
			<tr>
				<td> <%= radio_button_tag 'filter', 'Z-A', nil, onchange: "docSort(this)", class: 'radio'%> </td>
				<td> <%= label_tag :title, 'Z-A' %> </td>
			</tr>

		</table>

	<% end %>




<% end #form_tag %>


<% end %>
</div>

<script>

	//default autocomplete for docs
	$("#dash-documents-search").autocomplete({
		source: <%= raw(@titleSuggestions) %>
	});

	//onchange function for doc search method
	function opt(obj){
		var selected = obj.value;
		var data;
		switch(selected){
			default: 
				data = <%= raw(@titleSuggestions) %>;
				break;
			case 'author':
				data = <%= raw(@authorSuggestions) %>;
				break;
			case 'status':
				data = ["published", "draft", "archived"];
				break;
			case 'group':
				data = <%= raw(@groupSuggestions) %>;
		} //end switch

		$("#dash-documents-search").autocomplete({
			source: data
		}); //end autocomplete
		
	} //end opt

	//group sort/filter ajax
	function groupSort(obj){
		var selected = obj.value;
		var location = "<%= params[:nav]%>"
		$.ajax({
		    url: "/dashboard",
		    type: "GET",
		    data: {filter: selected, gPage: location},
		    dataType: 'script'
		}); //end ajax
	}

	//group autocomplete
	$("#dash-groups-search").autocomplete({
		source: <%= raw(@groupSuggestions) %>
	});


	//doc sort/filter ajax
	function docSort(obj){
		var selected= obj.value;
		var location = "<%= params[:nav]%>"
		$.ajax({
			url: "/dashboard",
		    type: "GET",
		    data: {dFilter: selected, dPage: location},
		    dataType: 'script'
		});
	}

	

</script>



<style>
	span.ui-helper-hidden-accessible{
		display:none;
	}

	.ui-widget-content{
		background-color: #fcfcfc;
	}

	.ui-state-focus{
		background-color: #FCEE02;
	}

	ul.ui-autocomplete{
		display:block;
		padding:3px;
		z-index:1000;
		position:relative;
		list-style:none;
		border: solid 1px gray;
		cursor:default;
		float:right;
	}

	.search-options tr{
		background-color: #ddd;	
		border: 3px solid white;
		padding: 5px;
	}



</style>