<div style="padding-left:30px">

<% if params[:nav] && (params[:nav].include? "groups") %>

<h4> Groups Search </h4>

<%= form_tag groups_path, :method => 'get' do %>
	<%= label_tag 'Search by Group name' %>
	<%= text_field_tag 'search' %>
	<%= submit_tag "Search" %>

<% end #form_tag %>


<% else %>

<h4> Documents Search </h4>

<%= form_tag documents_path, :method => 'get' do %>
	<p class="help-block"> Search by: </p>
	<table>
		<tr> 
			<td><%= radio_button_tag 'method', 'title', :required => true %> </td>
			<td><%= label_tag "Title" %></td>
		</tr>
		<tr>
			<td><%= radio_button_tag 'method', 'author' %> </td>
			<td> <%= label_tag "Author" %></td>
		</tr>
		<tr>
			<td> <%= radio_button_tag 'method', 'status' %> </td>
			<td> <%= label_tag "Status" %> </td>
		</tr>
	</table>

	<%= text_field_tag 'search' %>
	<%= submit_tag "Search" %>

<% end #form_tag %>

<% end %>
</div>