<%= content_for :body_id, 'dashboard' %>
<%= content_for :page_title, current_user.fullname %>
<%= stylesheet_link_tag "users" %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
  var widget = new Widget.App();
  var endpoint = '<%= ENV["API_URL"] %>';
  var token = '<%= session["jwt"] %>';
  // Backbone.history.start({pushState: true, root: window.location})

  var myLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'user',
    'context': 'dashboard',
  };
  var classLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'class',
    'context': 'dashboard',
  };
  var groupLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'group',
    'context': 'dashboard',
  };

  widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
  widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
  widget.listAnnotations('group-annotation-list', groupLoadOptions, endpoint, token);
});

</script>
<script type="text/template" id="user-comment-template">
  <span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a></span>
</script>
<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
</script>
<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Documents", documents_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
          <li class="active">
            <a href="#assigned" data-toggle="tab">
              <span class="badge">
                <%= Document.tagged_with(current_user.rep_group_list, :any =>true).size %></span>
              Assigned
            </a>
          </li>
          <li>
            <a href="#created" data-toggle="tab">
              <span class="badge">
                <%= current_user.documents.size %></span>
              Created
            </a>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding fade active in" id="assigned">
          <ul id="documents-assigned" class="list-group">
            <% unless Document.tagged_with(current_user.rep_group_list, :any =>
            true).empty? || Document.tagged_with(current_user.rep_group_list).nil? %>
            <% Document.order("created_at DESC").tagged_with(current_user.rep_group_list, :any =>
            true).limit(10).each do |document| %>
            <li class="list-group-item">
              <%= link_to document.title, document_path(document.friendly_id), target: 'blank' %>
              <span class="pull-right">
                <%= document.created_at.strftime("%m/%d/%Y") %></span>
            </li>
            <% end %>
            <% else %>
            <li class="list-group-item">
              No documents to view. (Your account maybe be pending approval).
            </li>
            <% end %></ul>
        </div>
        <div class="tab-pane no-padding fade in" id="created">
          <ul id="documents-created" class="list-group">
            <% unless current_user.documents.empty? || current_user.documents.nil? %>
              <% current_user.documents.order("created_at DESC").limit(10).each do |document| %>
                <% if can? :read, document %>
                  <li class="list-group-item">
                    <%= link_to document.title, document_path(document.friendly_id), target: 'blank' %>
                    <span class="pull-right">
                      <%= document.created_at.strftime("%m/%d/%Y") %></span>
                  </li>
                <% end %>
              <% end %>
            <% else %>
            <li class="list-group-item">
              No documents to view. (Your account maybe be pending approval).
            </li>
            <% end %>
          </ul>
        </div>
      </div>
      <ul class="nav nav-pills">
        <li><%= link_to "View all documents", documents_path %></li>
        <li><%= link_to "New document", document_path('new') %></li>
      </ul>
    </div><!--/ panel -->
  </div><!--/ col-md-6 -->
  <div class="col-md-6">
    <div class="panel panel-default" id="dashboard-annotations">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Annotations", annotations_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="annotation-tabs" role="tablist">
          <li class="active">
            <a href="#mine" data-toggle="tab">
              <span class="badge"></span>
              Mine
            </a>
          </li>
          <li>
            <a href="#class" data-toggle="tab">
              <span class="badge"></span>
              Classes
            </a>
          </li>
          <li>
            <a href="#group" data-toggle="tab">
              <span class="badge"></span>
              Groups
            </a>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->
      <div class="tab-content">
        <div class="tab-pane no-padding fade active in" id="mine">
          <ul id="my-annotation-list" class="list-group"></ul>
        </div>
        <div class="tab-pane no-padding fade in" id="class">
          <ul id="class-annotation-list" class="list-group"></ul>
        </div>
        <div class="tab-pane no-padding fade in" id="group">
          <ul id="group-annotation-list" class="list-group"></ul>
        </div>
      </div>
      <ul class="nav nav-pills">
        <li>
          <%= link_to "View all annotations", annotations_path %></li>
      </ul>
    </div>
    <!--/ panel --> </div>
  <!--/col-md-3 -->
</div>
<!--/row -->

<div class="row">
  <div class="col-md-6">
    <div class="panel panel-default" id="dashboard-groups">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Groups", groups_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="group-tabs" role="tablist">
          <li class="active">
            <a href="#groups" data-toggle="tab">
              <span class="badge">
                <%= current_user.rep_group_list.size %></span>
              Classes
            </a>
          </li>
          <li>
            <a href="#subgroups" data-toggle="tab">
              <span class="badge">
                <%= current_user.rep_subgroup_list.size %></span>
              Groups
            </a>
          </li>
        </ul>
      </div>
      <!-- / .panel-heading -->

    <div class="tab-content">
      <div class="tab-pane no-padding fade active in" id="groups">
        <ul class="list-group">
        <% current_user.rep_group_list.each do |group| %>
          <li class="list-group-item"><%= group %></li>
        <% end %>
        </ul>
      </div>
       <div class="tab-pane no-padding fade in" id="subgroups">
        <ul class="list-group">
        <% current_user.rep_subgroup_list.each do |group| %>
          <li class="list-group-item"><%= group %></li>
        <% end %>
        </ul>
      </div>
    </div>
    <ul class="nav nav-pills">
      <li>
        <%= link_to "View all groups", groups_path %>
      </li>
    </ul>
    </div><!--/ panel -->
  </div><!--/ col-md-6 -->
</div><!--/row -->
