<%= content_for :body_id, 'dashboard' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Dashboard' %>
<%= stylesheet_link_tag "users" %>
<%= render "/shared/document_titles" %>

<center>
<div class="dropdown">
  <button class="dropbtn">Documents</button>
  <div class="dropdown-content">
    <a id="documents-mine">Mine <span class="badge"> <%= current_user.documents.size %></span></a>
    <a id="documents-shared">Shared <span class="badge"> <%= @sharedDocsCount %></span></a>
    <a href="<%= new_document_path %>">New</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn">Annotations</button>
  <div class="dropdown-content">
    <a id= "annotations-mine"> Mine</a>
    <a id="annotations-shared">Shared</a>
  </div>
</div>


<div class="dropdown">
  <button class="dropbtn">Groups</button>
  <div class="dropdown-content">
    <a id="groups-mine">Mine <span class="badge"> <%= @mygroups.size %></span> </a>
    <a id="groups-joined">Joined <span class="badge"> <%= current_user.groups.size %></span></a>
    <a href="<%= new_group_path %>">New</a>
  </div>
</div>
</center>

<center>
  <h4 id= "current-page"> Shared Documents </h4>
</center>

<div class= "content" id="my-docs" style="display:none">
    
  <div class="row">
  <% @myDocs.each do |doc| %>

    <div class= "column"> 
       Title: <span><%= link_to doc.title, document_path(id: doc.id) %> <br>
       <% if doc.author != "" %>
          Author: <%= doc.author %> <br>
      <% end %>
       Created: <%= doc.created_at.strftime("%m/%d/%Y") %> 
       <span class="title"> Groups: <%= doc.groups.pluck(:name) %> </span>
       <br>

       <%= link_to "Edit", controller: "documents", action: "edit", id: doc.id %>
    </div> <!-- end column -->

    <!-- change badge color if new doc since last login.  -->
  <% end %> <!-- end doc loop -->
  </div>  <!-- end row -->

  <div class='pagination-controls flex-wrap'>
      <%= will_paginate @sharedDocs, renderer: BootstrapPagination::Rails %>
    </div>

</div><!--  end my-docs -->

<div class= "content" id="shared-docs" style="display:block">
  
  <div class="row">

  <% @sharedDocs.each do |doc| %>

    <div class= "column"> 
       Title: <span class="title"><%= link_to doc.title, document_path(id: doc.id) %> </span><br>
       <% if doc.author != "" %>
          Author: <%= doc.author %> <br>
      <% end %>
       Created: <%= doc.created_at.strftime("%m/%d/%Y") %> 
       <span style="font-size: 12px">Groups: <%= doc.groups.pluck(:name) %> </span>
       <br>

       <%= link_to "Edit", controller: "documents", action: "edit", id: doc.id if doc.user == current_user %>
    </div> <!-- end column -->

    <% if doc.updated_at > current_user.last_sign_in_at && 
    doc.updated_at < current_user.current_sign_in_at &&
    doc.user_id != current_user.id %>
  <script> 
    console.log("new doc");
    $("#documents-shared").find(".badge").css("background-color", "#6caef5");
 </script>

    <% end %> <!-- end if -->
  <% end %> <!-- end doc loop -->

  </div>  <!-- end row -->
 

  <p>
    <div class='pagination-controls'>
      <%= will_paginate @sharedDocs, renderer: BootstrapPagination::Rails %>
    </div>
  </p>

</div><!--  end shared-docs -->

<div class = "content" id="my-annotations" style="display:none">
  <div id="my-annotation-list" class="row"></div>
</div>


<div class = "content" id="shared-annotations" style="display:none">
  <div id="class-annotation-list" class="row"></div>
</div>


<div class = "content" id="my-groups" style="display:none">
  <div class="row">

  <% @mygroups.each do |g| %>
    <div class= "column"> 
       <strong>Name:</strong> <%= Group.find(g.group_id).name %> <br>
       <br>
       <br>
       <%= link_to "Edit", edit_group_path(id: g.group_id) %>
    </div>
  <% end %>
  </div>
</div>

<div class = "content" id="joined-groups" style="display:none">
  <div class="row">
  <% current_user.groups.order("name ASC").each do |g| %>
    <div class= "column"> 
       <strong>Name:</strong> <%= g.name %> <br>
       <strong>Role:</strong> <%= Membership.find_by(group_id: g.id, user_id: current_user.id).role %> <br>
       <strong>Owner:</strong> 
       <%= Membership.find_by(group_id: g.id, user_id: current_user.id).role == "owner" ? "Me" : User.find(Membership.find_by(group_id: g.id, role:"owner").user_id).firstname %> <br>
       <strong>Members: </strong> <%= Membership.where(group_id: g.id).size %>
    </div>
  <% end %>
  </div>
</div>




<script type="text/javascript">

  $("#documents-mine").click(function(){
    var myDocuments = document.getElementById("my-docs");
    $(".content").hide();
    myDocuments.style.display = "block";
    $("#current-page").text("My Documents");
  }); 

  $("#documents-shared").click(function(){
    var sharedDocuments = document.getElementById("shared-docs");
    $(".content").hide();
    sharedDocuments.style.display = "block";
    $("#current-page").text("Shared Documents");
  }); 

  $("#annotations-mine").click(function(){
    var myAnnotations = document.getElementById("my-annotations");
    $(".content").hide();
    myAnnotations.style.display = "block";
    $("#current-page").text("My Annotations");
  });

  $("#annotations-shared").click(function(){
    var sharedAnnotations = document.getElementById("shared-annotations");
    $(".content").hide();
    sharedAnnotations.style.display = "block";
    $("#current-page").text("Shared Annotations");
  });

  

  $("#groups-joined").click(function(){
    var joinedGroups = document.getElementById("joined-groups");
    $(".content").hide();
    joinedGroups.style.display = "block";
    $("#current-page").text("Joined Groups");
  });

  $("#groups-mine").click(function(){
    var mygroups = document.getElementById("my-groups");
    $(".content").hide();
    mygroups.style.display = "block";
    $("#current-page").text("My Groups");
  });

$("button").click(function(){
    $(".content").hide();
  });

$("#documents-shared").click(function(){
    $(".badge").css("background-color", "#777");
})

</script>



<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
  var widget = new Widget.App();
  var endpoint = '<%= ENV["API_URL"] %>';
  var token = '<%= session["jwt"] %>';
  // Backbone.history.start({pushState: true, root: window.location})

var groups=[];

<% current_user.groups.each do |g| %>
  groups.push("<%=g.name %>");
<% end %>

  var myLoadOptions = {
    'limit': 20,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'user',
    'context': 'dashboard',
  };
  var classLoadOptions = {
    'limit': 20,
    'groups': groups, //"<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'class',
    'context': 'dashboard',
  };
  var groupLoadOptions = {
    'limit': 20,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'group',
    'context': 'dashboard',
  };

  widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
  widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
  widget.listAnnotations('group-annotation-list', groupLoadOptions, endpoint, token);
});

</script>
<script type="text/template" id="user-comment-template">


  <span class="user-highlight" id="{{uuid}}">
  <div class="ellipsis"><a href="{{uri}}#hl{{uuid}}">"{{{quote}}}"</a></div>
  
</span>

<span class="user-comment"><div class="ellipsis">{{{text}}}</div>
  <span class= "annotation-info">{{formattedDate}} <br>
    Document: {{title}} <br>
    Annotator: {{username}}
  </span> 
  </span>
  
</script>



<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><div class="ellipsis"><a href="{{uri}}#hl{{uuid}}">{{{quote}}}</a></div></span>
  <span class="user-comment"><div class="secondary-text">{{title}} ({{username}})</div></span>
</script>

<style>

.dropbtn {
  background-color: #ddd;
  padding: 10px;
  font-size: 14px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 100px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 10px 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #e8d543;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #e8d543;}

.row{
  display:flex;
  flex-wrap: wrap;
}

.column{
  background-color: white;
  float: left;
  width: 14%;
  height: 150px;
  padding:5px;
  margin:20px 2% 0;
}

.title{
  text-overflow: ellipsis;
  max-width: 10px;
  overflow: hidden;

}

.annotation-info{
  font-size:12px;
}


</style>
  