<%= stylesheet_link_tag "users" %>
<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.1/underscore-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
<script src="http://cdnjs.cloudflare.com/ajax/libs/mustache.js/0.7.2/mustache.min.js"></script>
<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
  var widget = new Widget.App();
  var endpoint = '<%= ENV["API_URL"] %>';
  var token = '<%= session["jwt"] %>';
  // Backbone.history.start({pushState: true, root: window.location})

  var myLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'user',
    'context': 'dashboard',
  };
  var classLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'class',
    'context': 'dashboard',
  };
  var groupLoadOptions = {
    'limit': 10,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'group',
    'context': 'dashboard',
  };

  widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
  widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
  widget.listAnnotations('group-annotation-list', groupLoadOptions, endpoint, token);
});

</script>
<script type="text/template" id="user-comment-template">
  <span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a></span>
</script>
<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
</script>

<div class="row">
  <div class="span12">
    <h1>Dashboard for <%= @user.fullname %></h1>
  </div><!--/span12 -->
</div><!--/row -->
<div class="row">
  <div class="span4">
<h4><%= link_to "Documents", documents_path %></h4>
<ul class="nav nav-tabs" id="document-tabs">
  <li class="active"><a href="#assigned" data-toggle="tab"><span class="badge"><%= Document.tagged_with(current_user.rep_group_list, :any => true).size %></span> Assigned</a></li>
  <li><a href="#created" data-toggle="tab"><span class="badge"><%= current_user.documents.size %></span> Created</a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="assigned">
    <table class="table table-bordered">
      <% unless Document.tagged_with(current_user.rep_group_list, :any => true).empty? || Document.tagged_with(current_user.rep_group_list).nil? %>
        <% Document.order("created_at DESC").tagged_with(current_user.rep_group_list, :any => true).limit(10).each do |document| %>
          <tr>
            <td><%= link_to document.title, document_path(document.friendly_id), target: 'blank' %></td>
            <td><%= document.created_at.strftime("%m/%d/%Y") %></td>
          </tr>
        <% end %>
      <% else %>
        <tr>
          <td>No documents to view. (Your account maybe be pending approval).</td>
        </tr>
      <% end %>
    </table>
</div>
  <div class="tab-pane" id="created">
    <table class="table table-bordered">
      <% unless current_user.documents.empty? || current_user.documents.nil? %>
        <% current_user.documents.order("created_at DESC").limit(10).each do |document| %>
          <% if can? :read, document %>
              <tr>
                <td><%= link_to document.title, document_path(document.friendly_id), target: 'blank' %></td>
                <td><%= document.created_at.strftime("%m/%d/%Y") %></td>
              </tr>
            <% end %>
          <% end %>
      <% else %>
          <tr>
            <td>No documents to view. (Your account maybe be pending approval).</td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
  <h5><%= link_to "View all documents", documents_path %></h5>
  <h5><%= link_to "New document", document_path('new') %></h5>
  </div><!--/span4 -->
  <div class="span4">
    <h4><%= link_to "Annotations", annotations_path %></h4>
    <ul class="nav nav-tabs" id="document-tabs">
      <li class="active"><a href="#mine" data-toggle="tab"><span class="badge"></span> Mine</a></li>
      <li><a href="#class" data-toggle="tab"><span class="badge"></span> Class Groups</a></li>
      <li><a href="#group" data-toggle="tab"><span class="badge"></span> Working Groups</a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="mine">
        <ul id="my-annotation-list" class="unstyled"></ul>
      </div>
      <div class="tab-pane" id="class">
        <ul id="class-annotation-list" class="unstyled"></ul>
      </div>
      <div class="tab-pane" id="group">
        <ul id="group-annotation-list" class="unstyled"></ul>
      </div>
    </div>
    <h5><%= link_to "View all annotations", annotations_path %>  </h5>
  </div><!--/span4 -->
  <div class="span4">
    <h4><%= link_to "Groups", groups_path %>  </h4>
    <ul class="nav nav-tabs" id="group-tabs">
      <li class="active"><a href="#groups" data-toggle="tab"><span class="badge"><%= current_user.rep_group_list.size %></span> Class Groups</a></li>
      <li><a href="#subgroups" data-toggle="tab"><span class="badge"><%= current_user.rep_subgroup_list.size %></span> Working Groups</a></li>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="groups">
        <table class="table table-bordered">
        <% current_user.rep_group_list.each do |group| %>
            <tr>
              <td><%= group %></td>
            </tr>
          <% end %>
        </table>
    </div>
      <div class="tab-pane" id="subgroups">
        <table class="table table-bordered">
        <% current_user.rep_subgroup_list.each do |group| %>
            <tr>
              <td><%= group %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <h5><%= link_to "View all groups", groups_path %>  </h5>
  </div><!--/span4 -->
</div><!--/row -->
