<%= content_for :body_id, 'dashboard' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Dashboard' %>
<%= stylesheet_link_tag "users" %>
<%= render "/shared/document_titles" %>

<nav class= "dash-tabs">

<div class="dropdown">
  <button class="dropbtn">Documents <span class="badge" style="display:inline-block"><%= @sharedDocsCount + current_user.documents.size %></span> </button>

  <div class="dropdown-content">
    <a href= "<%= dashboard_path(nav: 'mydocuments')%>" id="documents-mine" style="display:inline" >Mine <span class="badge"> <%= current_user.documents.size %></span></a>
    <a href= "<%= dashboard_path(nav: 'shareddocuments')%>" id="documents-shared" style="display:inline">Shared <span class="badge"> <%= @sharedDocsCount %></span></a>
    <a href="<%= new_document_path %>" style="display:inline" >New</a>
  </div>
</div>

<div class="dropdown">
  <button class="dropbtn" id="annotation-button">Annotations <span class="badge"></span></button>
  <div class="dropdown-content">
    <a href = "<%= dashboard_path(nav: 'myannotations')%>" id= "annotations-mine" style="display:inline"> Mine <span class="badge"></span></a>
    <a href = "<%= dashboard_path(nav: 'sharedannotations')%>" id="annotations-shared" style="display:inline">Shared <span class="badge"></span></a>

  </div>

</div>


<div class="dropdown">
  <button class="dropbtn">Groups <span class="badge" style="display:inline-block"><%= @current_user.groups.size %></span></button>
  <div class="dropdown-content">

    <a href= "<%= dashboard_path(nav: 'mygroups')%>" id="groups-mine" style="display:inline">Mine <span class="badge"> <%= @mygroups.size %></span> </a>
    <a href= "<%= dashboard_path(nav: 'joinedgroups')%>" id="groups-joined" style="display:inline">Joined <span class="badge"> <%= current_user.groups.size %></span></a>
    <a onclick="show()" style="display:inline">New</a>
    <a onclick= "on()" style="display:inline"> Join</a>

  </div>

  <div id="search-tab" class="dropdown" onclick="openSideMenu()"> <i class="glyphicon glyphicon-option-vertical"></i> </div>
</div>

</nav>

<!-- sidebar -->
<div id="side-menu" class="side-nav">
  <span class="glyphicon glyphicon-remove" onclick="closeSideMenu()"></span>
  <%= render "side_search_options" %>
</div>

<h4 id= "current-page"> Shared Documents </h4>


<div class= "content" id="my-docs">
</div><!--  end my-docs -->

<div class= "content" id="shared-docs">
  
  <%= render 'shared_documents' %>

</div><!--  end shared-docs -->

<div class = "content" id="my-annotations" style="display:none">
  <div id="my-annotation-list" class="row"></div>
</div>


<div class = "content" id="shared-annotations" style="display:none">
  <div id="class-annotation-list" class="row"></div>
</div>


<div class = "content" id="my-groups" style="display:none">
</div>

<div class = "content" id="joined-groups" style="display:none">
</div>

<!-- overlay for join group -->
<div id="join-background">

<div class="overlay" id="join-form">

  <div class="banner"> <i class="glyphicon glyphicon-remove close" onclick="off()"></i>
     Join Group by entering name (case sensitive)</div>
  
  <div class="form">
    <%= form_tag({:controller=>'groups', :action => 'join_via_name'}) do %>
      <%= label_tag 'groupName', 'Group Name' %>
      <%= text_field_tag 'groupName'%>
      <%= submit_tag 'Join'%>
    <% end %>

  </div>

</div>

</div>

<!-- overlay for create group -->

<div id="create-background">

<div class="overlay" id="new-group-form">

  <div class="banner"> <i class="glyphicon glyphicon-remove close" onclick="hide()"></i>
     Create a New Group</div>
  
  <div class="form">
    <%= form_for Group.new do |f| %>
      <%= f.label :group, 'Name' %>
      <%= f.text_field :name %>

      <%= f.hidden_field :owner_id, value: current_user.id %>

      <%= f.submit 'Submit'%>

  <% end %>
    <span class="help-block" style="font-size:10px">After choosing a name, you'll be redirected to the edit page where you can manage this group's settings. </span>
  </div>

</div>

</div>

<script type="text/javascript">
   //a lot of repetition rn...clean up

  <% if params[:nav] %>
    var nav = "<%= params[:nav] %>"

    switch(nav) {
      case 'mydocuments':
        var myDocuments = document.getElementById("my-docs");
        $(".content").hide(); //hide everything else 
        myDocuments.style.display = "block";
        $(myDocuments).html("<%= j render 'my_documents' %>");
        $("#current-page").text("My Documents");
        break;

      case 'shareddocuments':
        var sharedDocuments = document.getElementById("shared-docs");
        $(".content").hide();
        sharedDocuments.style.display = "block";
        $("#current-page").text("Shared Documents");
        break;

      case 'myannotations':
        var myAnnotations = document.getElementById("my-annotations");
        $(".content").hide();
        myAnnotations.style.display = "block";
        $("#current-page").text("My Annotations");
        break;

      case 'sharedannotations':
        var sharedAnnotations = document.getElementById("shared-annotations");
        $(".content").hide();
        sharedAnnotations.style.display = "block";
        $("#current-page").text("Shared Annotations");
        break;

      case 'mygroups':
        var mygroups = document.getElementById("my-groups");
        $(".content").hide();
        mygroups.style.display = "block";
        $(mygroups).html("<%= j render 'my_groups' %>");
        $("#current-page").text("My Groups");
        break;

      case 'joinedgroups':
        var joinedGroups = document.getElementById("joined-groups");
        $(".content").hide();
        joinedGroups.style.display = "block";
        $(joinedGroups).html("<%= j render 'joined_groups' %>");
        $("#current-page").text("Joined Groups");
        break;
      
  } //end switch

  <% end #end if %>

  
$("#documents-shared").click(function(event){
    $(".badge").css("background-color", "#777");
})


//sidebar visibility toggle
var active = false
function openSideMenu(){
  if (active){
    document.getElementById('side-menu').style.width = '0';
    active= false;
    return;
  }
  document.getElementById('side-menu').style.width = '350px';
  active = true
}
function closeSideMenu(){
  document.getElementById('side-menu').style.width = '0';
}

//group join form visibility toggle
function on(){
  document.getElementById("join-form").style.display = "block";
  document.getElementById("join-background").style.display = "block";
}

function off(){
  document.getElementById("join-form").style.display = "none";
  document.getElementById("join-background").style.display = "none";
}

//autocomplete for joining groups?
// $(document.getElementById("groupName")).autocomplete({
//   source: <%= raw(Group.all.pluck(:name)) %>
// })



//create group form visibility toggle. 
function show(){
  document.getElementById("create-background").style.display = "block";
  document.getElementById("new-group-form").style.display = "block";
  
}

function hide(){
  document.getElementById("create-background").style.display = "none";
  document.getElementById("new-group-form").style.display = "none";
  
}

</script>



<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
  var widget = new Widget.App();
  var endpoint = '<%= ENV["API_URL"] %>';
  var token = '<%= session["jwt"] %>';
  // Backbone.history.start({pushState: true, root: window.location})
var groups=[];
<% current_user.groups.each do |g| %>
  groups.push("<%=g.name %>");
<% end %>
  var myLoadOptions = {
    'limit': 30,
    'groups': "<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'user',
    'context': 'dashboard',
  };
  var classLoadOptions = {
    'limit': 30,
    'groups': groups, //"<%= current_user.rep_group_list %>".split(/, /),
    'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
    'host': location.host,
    'user': "<%= current_user.email %>",
    'mode': 'class',
    'context': 'dashboard',
  };
  widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
  widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
});
</script>
<script type="text/template" id="user-comment-template">


  <span class="user-highlight" id="{{uuid}}">
  <div class="ellipsis"><a href="{{uri}}#hl{{uuid}}">"{{{quote}}}"</a></div>
  <hr>
</span>

<span class="user-comment"><div class="ellipsis">{{{text}}}</div> <br>
  <span class= "annotation-info">{{formattedDate}} <br>
    Document: {{title}} <br>
    Annotator: {{username}} <br>
    <!-- Tags: {{tags}} -->
  </span> 
  </span>
  
</script>

<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><div class="ellipsis"><a href="{{uri}}#hl{{uuid}}">{{{quote}}}</a></div>
  <hr>
  </span>
  <span class="user-comment">
    <span class= "annotation-info">{{formattedDate}} <br>
    Document: {{title}} <br>
    Annotator: {{username}}
  </span> 
</span>
</script>


<!-- overlay styling source: https://www.w3schools.com/howto/howto_css_overlay.asp -->
<style>

#join-background, #create-background{
  position: fixed; /* Sit on top of the page content */
  display: none; /* Hidden by default */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0,0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  cursor: pointer; /* Add a pointer on hover */

}
  
  .overlay{
  position: absolute; 
  display:none;
  width: 40%; 
  height: 30%; 
  top: 200px; 
  left: 25%;
  right: 0;
  bottom: 0;
  background-color: white; 
  border: grey 1px solid;
  z-index: 2; 
  cursor: pointer; /* Add a pointer on hover */
  }

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-30%);
}

.banner{
  position: relative;
  background-color:#ddd;
  height:20%;
  padding: 3px;

}

.close{
  float:right;
}

</style>