<%= content_for :page_title, "Change your password" %>
<div class="row">
  <div class="col-md-12">

    <%= render "devise/shared/error_messages" %>

    <div class="page-header">
      <h1>Change your password</h1>
    </div>

    <%= form_for(resource, :as =>
    resource_name, :url => password_path(resource_name), :html => { :method => :put, :role => "form" }) do |f| %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-group">
      <%= f.label :password, :class =>
      "control-label" %><br>
      <%= f.password_field :password %></div>

    <div class="form-group">
      <%= f.label :password_confirmation, :class =>
      "control-label" %><br>
      <%= f.password_field :password_confirmation %></div>

    <%= f.submit "Change my password", :class =>
    "btn btn-default btn btn-default-primary" %>
    <% end %>

    <%#= render "links" %></div>
  <!--/col-md-12 -->
</div>
<!--/row -->
