<% second_line = params[:controller] == 'documents' && (params[:action] == 'show' || params[:action] == 'edit') %>
<ol class="breadcrumb breadcrumb-inverse hidden-xs<%= " second-line" if second_line %>">
  <% if current_page?(dashboard_path) || current_page?(root_path) %>
    <li class="active">Dashboard</li>
  <% elsif !current_page?(page_path('cookiepolicy')) && !current_page?(page_path('terms')) && !current_page?(page_path('privacypolicy')) %>
    <li><%= link_to("Dashboard", "/dashboard", :id => "dashboard-link") %></li>
  <% end %>

  <% if current_page?(documents_path) %>
    <li class="active">Documents</li>
  <% elsif params[:controller] == 'documents' %>
    <li><%= link_to("Documents", "/documents", :id => "documents-link") %></li>
    <% if params[:action] == 'show' %>
      <li class="active"><%= @document.title %></li>
    <% elsif params[:action] == 'preview' %>
      <li class="active">Snapshot Preview of <%= @document.title %></li>
    <% elsif params[:action] == 'new' %>
      <li class="active">New Document</li>
    <% elsif params[:action] == 'edit' %>
      <li class="active">Editing: <%= @document.title %></li>
    <% end %>
  <% end %>

  <% if current_page?(annotations_path) %>
    <li class="active">Annotations</li>
  <% end %>

  <% if current_page?(groups_path) %>
    <li class="active">Groups</li>
  <% elsif params[:controller] == 'groups' %>
    <li><%= link_to("Groups", "/groups", :id => "documents-link") %></li>
    <% if params[:action] == 'show' %>
      <li class="active"><%= @group.name %></li>
    <% elsif params[:action] == 'new' %>
      <li class="active">New Group</li>
    <% elsif params[:action] == 'edit' %>
      <li class="active">Manage Group: <%= @group.name %></li>
    <% end %>
  <% end %>

  <% if current_page?(edit_user_registration_path) %>
    <li class="active">My Profile</li>
  <% end %>

  <% if current_page?(page_path('terms')) %>
    <li class="active">Terms and Conditions</li>
    <li>See also our our <%= link_to("Privacy Policy", page_path('privacypolicy')) %> and <%= link_to("Cookie Policy", page_path('cookiepolicy')) %>.</li>
  <% elsif current_page?(page_path('privacypolicy')) %>
    <li class="active">Privacy Policy</li>
    <li>See also our our <%= link_to("Cookie Policy", page_path('cookiepolicy')) %> and <%= link_to("Terms of Service", page_path('terms')) %>.</li>
  <% elsif current_page?(page_path('cookiepolicy')) %>
    <li class="active">Cookie Policy</li>
    <li>See also our our <%= link_to("Privacy Policy", page_path('privacypolicy')) %> and <%= link_to("Terms of Service", page_path('terms')) %>.</li>
  <% end %>

</ol>
