    <div class="footer">
      <div class="container">
        <div class="pull-right footer-terms" style="text-align:right;">
          <span class="text-muted">&copy; <%= Time.now.year %> Active Archives Initiative at MIT</span><br />
          <span class="text-muted"><%= link_to("Terms and Conditions", page_path('terms')) %> | <%= link_to("Privacy Policy", page_path('privacypolicy')) %>  | <%= link_to("Cookie Policy", page_path('cookiepolicy')) %> </span></div>
        <p class="text-muted">
          <a class="logo" href="http://web.mit.edu/" target="_blank"><img src="<%= asset_path("logo_mit.png") %>"></a>
          <a class="logo" href="https://aai.mit.edu/"><img src="<%= asset_path("aai-logo.png") %>" id="neh-logo"></a>
          <a class="logo" href="http://www.neh.gov/divisions/odh" target="_blank"><img src="<%= asset_path("neh_at_logo.png") %>" id="neh-logo"></a>
        </p>
      </div>
    </div>
