
<a class="navbar-brand" href="/">Annotation Studio <span style="color:<%= $DOMAIN_CONFIG['site_color'] %>;"><%= $DOMAIN_CONFIG['site_name'] %></span></a>

<ul class="nav navbar-nav pull-right hidden-xs" id="globalnav" >

  	<!--About-->
  <li><div class="dropdown">
	  <button class="dropdown-toggle menu-button" type="button" id="about-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		  About <span class="caret"></span>
	  </button>
	  <ul class="dropdown-menu" aria-labelledby="about-menu">
		  <li><a href="http://www.annotationstudio.org/project/" target="_blank">Project </a></li>
		  <li><a href="http://www.annotationstudio.org/pedagogy/" target="_blank">Pedagogy </a></li>
		  <li><a href="http://www.annotationstudio.org/community/" target="_blank">Community </a></li>
		  <li><a href="http://www.annotationstudio.org/support/" target="_blank">Support </a></li>
		  <li><a href="http://www.annotationstudio.org/news/" target="_blank">News </a></li>
	  </ul>
  </div></li>
  <!--About ends-->

<!--signed in-->
<% if user_signed_in? %>


	<li><a href="http://support.annotationstudio.org/" target="_blank">Help <i class="fa fa-external-link-square"></i></a></li>

	<li><div class="dropdown">
		<button class="dropdown-toggle menu-button" type="button" id="about-menu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			<i class="fa fa-user" ></i> <%= current_user.fullname %> <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" aria-labelledby="about-menu">
			<li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to("My Profile", edit_user_registration_path, :id => "user-account-edit") %></li>
			<li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to('Logout', destroy_user_session_path) %></li>
		</ul>
		</div></li>

	<% if can? :manage, UserSet %>
		<li class="<%= 'active' if current_page?(admin_users_path) %>"><%= link_to(raw('Manage Users <i class="fa fa-external-link-square"></i>'), admin_users_path, :target => '_blank') %></li>
	<% end %>

<!--not signed in -->
<% else %>
	  <% if defined?(resource) != nil %>
	  <li><div class="dropdown dont-overflow">
		  <button class="dropdown-toggle menu-button" type="button" id="login-form" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			  Log in
			  <span class="caret"></span>
		  </button>
		  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="login-form">
			  <li><%= render "/devise/sessions/sign_in" %></li>
		  </ul>
	  </div></li>

	  <li>
			<%= link_to "Register", new_registration_path(resource_name, :invite_token => params[:invite_token]) %></li>
	  <% end %>

<li><a href="http://support.annotationstudio.org/" target="_blank">Help <i class="fa fa-external-link-square"></i></a></li>
<% end %>
</ul>
