<% if user_signed_in? %>
<li class="<%= 'active' if current_page?(dashboard_path) || current_page?(root_path) %>"><%= link_to("Dashboard", "/dashboard", :id => "dashboard-link") %></li>
<li class="<%= 'active' if current_page?(documents_path) %>"><%= link_to("Documents", "/documents", :id => "documents-link") %></li>
<li class="<%= 'active' if current_page?(annotations_path) %>"><%= link_to("Annotations", "/annotations", :id => "annotations-link") %></li>
<li class="<%= 'active' if current_page?(groups_path) %>"><%= link_to("Groups", "/groups", :id => "groups-link") %></li>
<li class="<%= 'active' if current_page?(edit_user_registration_path) %>"><%= link_to("My Profile", edit_user_registration_path, :id => "user-account-edit") %></li>
<li class="<%= 'active' if current_page?(destroy_user_session_path) %>"><%= link_to('Logout', destroy_user_session_path) %></li>
<% if can? :manage, UserSet %>
<li class="<%= 'active' if current_page?(admin_students_path) %>"><%= link_to(raw('Manage Users <i class="fa fa-external-link-square"></i>'), admin_students_path, :target => '_blank') %></li>
<% end %>
<% else %>
<li class="<%= 'active' unless current_page?(new_user_registration_path) %>"><%= link_to('Login', new_user_session_path)  %></li>
<li class="<%= 'active' if current_page?(new_user_registration_path) %>"><%= link_to('Register', new_user_registration_path)  %></li>
<% end %>
<li><a href="http://support.annotationstudio.org/" target="_blank">Help <i class="fa fa-external-link-square"></i></a></li>
