<%= content_for :page_title, 'Privacy Policy' %>

<div class="panel panel-default">
  <div class="panel-heading"><h1>Privacy Policy</h1></div>
  <div class="panel-body">
    <h4>Last updated May 26, 2020</h4>

    <p>Thank you for choosing to be part of our Annotation Studio community as part of the Active Archives Initiative at MIT 
    (“<strong>we</strong>”, “<strong>us</strong>”, or “<strong>our</strong>”). We are committed to protecting your personal
    information and your right to privacy. If you have any questions or concerns about our policy, or our practices with regards 
    to your personal information, please contact us at <a href="mailto:aai-info@mit.edu"><strong>aai-info@mit.edu</strong></a>.</p>

    <p>When you visit our website  https://annotationstudio.org, and use our services, you trust us with your personal information. 
    We take your privacy very seriously. In this privacy policy, we seek to explain to you in the clearest way possible what 
    information we collect, how we use it and what rights you have in relation to it. We hope you take some time to read through 
    it carefully, as it is important. If there are any terms in this privacy policy that you do not agree with, please discontinue 
    use of our Sites and our services.</p>

    <p>This privacy policy applies to all information collected through our website (such as  https://app.annotationstudio.org), 
    and/or subdomains and any related services, communication, or events (we refer to them collectively in this privacy policy 
    as the "<strong>Services</strong>").</p>

    <p><strong>Please read this privacy policy carefully as it will help you make informed decisions about sharing your personal 
    information with us.</strong></p>


    <h3>1. What information do we collect? </h3>

    <h4>Personal information you disclose to us</h4>
    <p><i><strong>In short:</strong> We collect personal information that you provide to us.</i></p>

    <p>We collect personal information that you voluntarily provide to us when registering at the Services, when participating in 
    activities on the Services (such as creating Documents or Annotations), or otherwise contacting us.</p>

    <p>The personal information that we collect depends on the context of your interactions with us and the Services, the choices 
    you make and the products, services, and features you use. The personal information we collect can include the following:</p>

    <p><strong>Personal Information Provided by You.</strong> We collect first name, last names, email addresses, and other similar 
    data provided at registration.</p>

    <p><strong>Information About Your Activity.</strong> We collect app usage, Documents and Annotations, and other similar data.
    </p>


    <h3>2. How do we use your information?</h3>
    <p><i><strong>In short:</strong> We process your information for purposes based on the operation of our Services, compliance 
    with our legal obligations, and/or your consent.</i></p>

    <p>We use personal information collected via our Services for a variety of purposes described below. We process your personal 
    information for these purposes with your consent and for compliance with our legal obligations. We indicate the specific 
    processing grounds we rely on next to each purpose listed below.</p>

    <p>We use the information we collect or receive:</p>
    <ul>
      <li><strong>To manage user accounts.</strong> We may use your information for the purposes of managing our account and keeping 
      it in working order.</li>
      <li><strong>To deliver services to the user.</strong> We may use your information to provide you with requested services.</li>
      <li><strong>To respond to user inquiries/offer support to users.</strong> We may use your information to respond to your
      inquiries and solve any potential issues you might have with the use of our Services.</li>
      <li><strong>To enforce our terms, conditions and policies.</strong></li>
      <li><strong>To respond to legal requests and prevent harm.</strong> If we receive a subpoena or other legal request, we may need 
      to inspect the data we hold to determine how to respond.</li>
    </ul>


    <h3>3. Will your information be shared with anyone?</h3>
    <p><i><strong>In short:</strong> We only share information with your consent, to comply with laws, to provide you with services, 
    or to protect your rights.</i></p>
    <p>We may process or share data based on the following legal basis:</p>

    <ul>
      <li><strong>Consent</strong>: By using our services, you consent to the storage of your provided personal information on the 
      platforms we rely on for basic operations, as delineated in the following section. We may also process your data if you have 
      given us specific consent to use your personal information in a specific purpose. For example, we ask you to consent to cookie 
      usage for the purposes outlined in the <%= link_to("Cookie Policy", page_path('cookiepolicy')) %>. We may also offer future 
      add-on application(s) that similarly ask for consent to process your data.</li>
      <li><strong>Legal Obligations</strong>: We may disclose your information where we are legally required to do so in order to 
      comply with applicable law, governmental requests, a judicial proceeding, court order, or legal process, such as in response 
      to a court order or a subpoena (including in response to public authorities to meet national security or law enforcement 
      requirements).</li>
      <li><strong>Vital Interests</strong>: We may disclose your information where we believe it is necessary to investigate, 
      prevent, or take action regarding potential violations of our policies, suspected fraud, situations involving potential threats 
      to the safety of any person and illegal activities, or as evidence in litigation in which we are involved.</li>
    </ul>
  
    <p>More specifically, we may need to process your data or share your personal information in the following situations:</p>
    <ul>
      <li><strong>Vendors, Consultants and Other Third-Party Service Providers</strong>: We may share your data with third party 
      vendors, service providers, contractors or agents who perform services for us or on our behalf and require access to such 
      information to do that work. Examples include: data analysis, email delivery, hosting services, and customer service. We may 
      allow selected third parties to use tracking technology on the Services, which will enable them to collect data about how you 
      interact with the Services over time. This information may be used to, among other things, analyze and track the usage of our 
      Services. <u>We do not share, sell, rent or trade any of your information with third parties for their promotional purposes.</u> 
      We have contracts in place with our data processors. This means that they cannot do anything with your personal information 
      unless we have instructed them to do it. They will not share your personal information with any organization apart from us. 
      They will hold it securely and retain it for the period we instruct.</li>
    </ul>


    <h3>4. Who will your information be shared with?</h3>
    <p><i><strong>In short:</strong> We only share information with the following third parties.</i></p>
    <p>We only share and disclose your information with the following third parties. We have categorized each party so that you may
    be easily understand the purpose of our data collection and processing practices. If we have processed your data based on your 
    consent and you wish to revoke your consent, please contact us.</p>

    <ul>
      <li><strong>Web and Mobile Analytics</strong><br />
      Google Analytics</li>
      <li><strong>Website Hosting</strong><br />
      Heroku</li>
      <li><strong>Email Delivery</strong><br />
      SendGrid</li>
      <li><strong>Website Performance Monitoring</strong><br />
      Scout</li>
    </ul>


    <h3>5. Do we use cookies and other tracking technologies?</h3>
    <p><i><strong>In short:</strong> We may use cookies and other tracking technologies to collect and store your information.</i></p>
    <p>We may use cookies and similar tracking technologies (like web beacons and pixels) to access or store information. Specific 
    information about how we use such technologies and how you can refuse certain cookies is set out in our 
    <%= link_to("Cookie Policy", page_path('cookiepolicy')) %>.</p>


    <h3>6. How long do we keep your information?</h3>
    <p><i><strong>In short:</strong> We keep your information for as long as necessary to fulfill the purposes outlined in this 
    privacy policy unless otherwise required by law.</i></p>

    <p>We will only keep your personal information for as long as it is necessary for the purposes set out in this privacy policy, 
    unless a longer retention period is required or permitted by law (such as tax, accounting or other legal requirements). No 
    purpose in this policy will require us keeping your personal information for longer than the period of time in which users have 
    an account with us.</p>

    <p>When we have no ongoing legitimate need to process your personal information, we will either delete or anonymize it, or, 
    if this is not possible (for example, because your personal information has been stored in backup archives), then we will 
    securely store your personal information and isolate it from any further processing until deletion is possible.</p>


    <h3>7. How do we keep your information safe?</h3>
    <p><i><strong>In short:</strong> We aim to protect your personal information through a system of organizational and technical 
    security measures.</i></p>

    <p>We have implemented appropriate technical and organizational security measures designed to protect the security of any 
    personal information we process. However, please also remember that we cannot guarantee that the internet itself is 100% 
    secure. Although we will do our best to protect your personal information, transmission of personal information to and from 
    our Services is at your own risk. You should only access the services within a secure environment.</p>


    <h3>8. What are your privacy rights?</h3>
    <p><i><strong>In short:</strong> You may review, change, or terminate your account at any time.</i></p>
    <p>If you are resident in the European Economic Area and you believe we are unlawfully processing your personal information, you 
    also have the right to complain to your local data protection supervisory authority. You can find their contact details
    here: <%= link_to("http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm", 
    "http://ec.europa.eu/justice/data-protection/bodies/authorities/index_en.htm") %>. </p>
    <h4>Account Information</h4>
    <p>If you would at any time like to review or change the information in your account or terminate your account, you can:</p>
    <ol>
    <li>Log into your <%= link_to("account settings", edit_user_registration_path) %> and update your user account, OR</li>
    <li>Contact us using the contact information provided.</li>
    </ol>
    <p>Upon your request to terminate your account, we will deactivate or delete your account and information from our active 
    databases. However, some information may be retained in our files to prevent fraud, troubleshoot problems, assist with any 
    investigations, enforce our Terms of Use and/or comply with legal requirements.</p>

    <p><strong>Cookies and similar technologies:</strong> Most Web browsers are set to accept cookies by default. If you prefer, 
    you can usually choose to set your browser to remove cookies and to reject cookies. If you choose to remove cookies or reject 
    cookies, this could affect certain features or functionality of our Services.</p>


    <h3>9. Data breach</h3>
    <p>A privacy breach occurs when there is unauthorized access to or collection, use, disclosure or disposal of personal 
    information. You will be notified about data breaches when the Active Archives Initiative at MIT believes you are likely to 
    be at risk or serious harm. For example, a data breach may be likely to result in serious financial harm or harm to your mental 
    or physical well-being. In the event that the Active Archives Initiative at MIT becomes aware of a security breach which has 
    resulted or may result in unauthorized access, use or disclosure of personal information, the Active Archives Initiative at MIT 
    will promptly investigate the matter and notify the applicable Supervisory Authority not later than 72 hours after having become 
    aware of it, unless the personal data breach is unlikely to result in a risk to the rights and freedoms of natural persons.</p>
    

    <h3>10. Controls for Do-Not-Track features</h3>
    <p>Most web browsers and some mobile operating systems and mobile applications include a Do-Not-Track (“DNT”) feature or 
    setting you can activate to signal your privacy preference not to have data about your online browsing activities monitored 
    and collected. No uniform technology standard for recognizing and implementing DNT signals has been finalized. As such, we do 
    not currently respond to DNT browser signals or any other mechanism that automatically communicates your choice not to be 
    tracked online. If a standard for online tracking is adopted that we must follow in the future, we will inform you about that 
    practice in a revised version of this privacy policy.</p>
    

    <h3>11. Do California residents have specific privacy rights?</h3>
    <p><i><strong>In short:</strong> Yes, if you are a resident of California, you are granted specific rights regarding access to 
    your personal information.</i></p>
    <p>California Civil Code Section 1798.83, also known as the “Shine The Light” law, permits our users who are California 
    residents to request and obtain from us, once a year and free of charge, information about categories of personal information 
    (if any) we disclosed to third parties for direct marketing purposes and the names and addresses of all third parties with 
    which we shared personal information in the immediately preceding calendar year. If you are a California resident and would 
    like to make such a request, please submit your request in writing to us using the contact information provided below.</p>
    

    <h3>12. Do we make updates to this policy?</h3>
    <p><i><strong>In short:</strong> Yes, we will update this policy as necessary to stay compliant with relevant laws.</i></p>
    <p>We may update this privacy policy from time to time. The updated version will be indicated by an updated “Revised” date 
    and the updated version will be effective as soon as it is accessible. If we make material changes to this privacy policy, 
    we may notify you either by prominently posting a notice of such changes or by directly sending you a notification. We 
    encourage you to review this privacy policy frequently to be informed of how we are protecting your information.</p>
    

    <h3>13. How can you contact us about this policy?</h3>
    <p>If you have questions or comments about this policy, you may email us at 
    <a href="mailto:aai-info@mit.edu"><strong>aai-info@mit.edu</strong></a> or by mail to:</p>
    <p>Active Archives Initiative at MIT<br />
    Massachusetts Institute of Technology, 14N-421<br />
    77 Massachusetts Ave.<br />
    Cambridge, MA 02139<br />
    United States</p>
    

    <h3>14. How can you review, update, or delete the data we collect from you?</h3>
    <p>Based on the laws of some countries, you may have the right to request access to the personal information we collect 
    from you, change that information, or delete it in some circumstances. To request to review, update or delete your personal 
    information, please submit a request form by clicking 
    <a href="https://app.termly.io/notify/64c62dcf-423d-40da-a346-eccdb44b1bf5">here</a>. We will respond to your request within 
    30 days.</p><br />
    

    <h5>Note: This privacy policy was created with the help of Termly’s Privacy Policy Generator. </h5>
  </div>
</div>