<table class="table table-striped table-bordered">
  <tr>
    <th>Title</th>
    <th id="author-column">Author</th>
    <th>Created</th>
    <th> (new) Groups</th>
    <th>Status</th>
    <th id="button-column">Actions</th>
  </tr>
  <% unless documents.nil? || documents.empty? %>
    <% documents.each do |document| %>
      <tr>
        <td>
          <%= link_to document.title, document_path(document.friendly_id) %></td>
        <td>
          <%= document.author %></td>
        <td>
          <%= document.created_at.strftime("%m/%d/%Y") %></td>
        <td>
          <% document.groups.each do |group| %>
          <span class="label label-info">
            <%= group.name %>
          </span>&nbsp;
          <% end %>
        </td>
        <td>
          <% case document.state %>
          <% when 'draft' %>
            <i class="glyphicon glyphicon-pencil" title="<%= document.state %>"></i>
          <% when 'published' %>
            <i class="glyphicon glyphicon-comment" title="<%= document.state %>"></i>
          <% when 'archived' %>
            <i class="glyphicon glyphicon-folder-close" title="<%= document.state %>"></i>
          <% when 'public' %>
            <i class="glyphicon glyphicon-globe" title="<%= document.state %>"></i>
          <% else %>
            <%= document.state %>
          <% end %>

        </td>
        <td>
          <% if can? :update, document %>
            <% if document.draft? %>
              <%= link_to edit_document_path(document), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Text and metadata are editable' } do %>
                <i class="glyphicon glyphicon-pencil" title="Edit"></i> Edit
              <% end %>
            <% else %>
              <%= link_to edit_document_path(document), :class => 'btn btn-default btn-sm', data: { toggle: 'tooltip', placement: 'top', original_title: 'Only metadata are editable' } do %>
                <i class="glyphicon glyphicon-pencil" title="Edit"></i> Edit
              <% end %>
            <% end %>
            <%= link_to document_path(document), method: :delete, data: {confirm: "Are you sure?", toggle: 'tooltip', placement: 'top', original_title: 'Delete'}, :class => 'btn btn-danger btn-sm' do %>
              <i class="glyphicon glyphicon-trash" title="Delete"></i>
            <% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan="6">No documents to view.</td>
  </tr>
  <% end %></table>
<script type="text/javascript">
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
