<style type="text/css" media="screen">
.redactor_box, .redactor_text_area, .redactor_editorm, .text_area {
	width: 850px;
}
</style>
<%= form_for (@document), :html => { :class => 'form-horizontal' } do |f| %>
  <fieldset>
    <legend><%= controller.action_name.capitalize %> Document</legend>
	<div class="row">
	<div class="span6">
	    <div class="control-group">
	      <%= f.label :title, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :title, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>

	    <div class="control-group">
	      <%= f.label :author, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :author, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>

	    <div class="control-group">
	      <%= f.label :edition, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :edition, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>

		<div class="control-group">
	      <%= f.label "Groups", :class => 'control-label' %>
			<div class="controls">
        		<%= f.text_field :rep_group_list, :class => 'text_field input-xlarge' %>
				<p class="help-block">Enter the groups to whom you wish to assign this document, separated by commas.</p>
			</div>
		</div>

		<div class="control-group">
	      <%= f.label "Status", :class => 'control-label' %>
			<div class="controls">
				<label class="radio inline"><i class="glyphicon icon-time"></i> 
				<%= f.radio_button :state, value: "pending", :checked => "checked" %>
				Pending
				</label>

				<label class="radio inline"><i class="glyphicon icon-pencil"></i> 
				<%= f.radio_button :state, value: "draft" %>
				Draft
				</label>

				<label class="radio inline"><i class="glyphicon icon-ok"></i> 
				<%= f.radio_button :state, value: "published" %>
				Published
				</label>

				<label class="radio inline"><i class="glyphicon icon-folder-close"></i> 
				<%= f.radio_button :state, value: "archived" %>
				Archived
				</label>
			</div>
		</div>

	</div><!-- end span 6 -->
	<div class="span6">
	    <div class="control-group">
	      <%= f.label :publisher, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :publisher, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :publication_date, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :publication_date, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>
	    <div class="control-group">
	      <%= f.label :source, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :source, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>

	    <div class="control-group">
	      <%= f.label :rights_status, :class => 'control-label' %>
	      <div class="controls">
	        <%= f.text_field :rights_status, :class => 'text_field input-xlarge' %>
	      </div>
	    </div>
	</div><!-- end span 6 -->
	</div><!-- end row -->

	<br />

    <div class="control-group" id="document-upload">
      <%= f.label :upload, 'Pick a file from your computer', :class => 'control-label'  %>
      <div class="controls">
	    <div class="fileinput fileinput-new" data-provides="fileinput">
	    	<div class="input-group">
	    		<div class="form-control uneditable-input span6" data-trigger="fileinput"><i class="glyphicon icon-file fileinput-exists"></i> <span class="fileinput-filename"></span></div>
	    		<span class="input-group-addon btn btn-default btn-file"><span class="fileinput-new"><i class="glyphicon icon-hdd"></i> Select file</span><span class="fileinput-exists"><i class="glyphicon icon-hdd"></i> Different file</span><%= f.file_field :upload %></span>
	    		<a href="#" class="input-group-addon btn btn-default fileinput-exists" data-dismiss="fileinput"><i class="glyphicon icon-trash"></i> Clear file</a>
	    	</div>
	    </div>


        <p class="help-block">Please attach a file in word format.</p>
      </div>
    </div>

	<br />
    <div class="control-group" id="document-text">
      <%= f.label :text, :class => 'control-label' %>
      <div class="controls">
		<%= f.text_area :text, :class => 'redactor text_area', :size => "18x6" %>
		<p class="help-block">For chapters links to work, insert named anchors in the text above, in the form:"&lt;a name=&quot;2HCH0001&quot; id=&quot;2HCH0001&quot;&gt;&lt;/a&gt;"</p>
      </div>
    </div>

    <br />
    <div class="control-group" id="document-chapters">
      <%= f.label "Chapters", :class => 'control-label' %>
      <div class="controls">
		<%= f.text_area :chapters, :class => 'chapter-editor text_area', :size => "18x6" %>
		<p class="help-block">Put chapters links in the field above, in the form:"&lt;li&gt;&lt;a href=&quot;#2HCH0001&quot;&gt;1. Loomings.&lt;/a&gt;&lt;/li&gt;"</p>
      </div>
    </div>



    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to 'Cancel', documents_url, :class => 'btn' %>
    </div>
  </fieldset>
<% end %>
