          <%= form_for (@document), :html => { :role => 'form', class: "confirm-changes" } do |f| %>
<%= render 'document_content', f: f %>

          	<h4>Metadata</h4>

          	<div class="row">
          		<div class="col-md-6">
          			<div class="form-group">
          				<%= f.label :title %>
            			<%= f.text_field :title, :class => 'form-control' %>
          			</div>

          			<div class="form-group">
          				<%= f.label :author %>
          				<%= f.text_field :author, :class => 'form-control' %>
          			</div>

					<div class="form-group">
						<%= f.label :publication_date %>
						<%= f.text_field :publication_date, :class => 'form-control' %>
					</div>

					<div class="form-group">
						<%= f.label :publisher %>
						<%= f.text_field :publisher, :class => 'form-control' %>
					</div>
				</div><!-- end span 6 -->

          		<div class="col-md-6">
					<div class="form-group">
						<%= f.label :edition %>
						<%= f.text_field :edition, :class => 'form-control' %>
					</div>

          			<div class="form-group">
          				<%= f.label :source %>
          				<%= f.text_field :source, :class => 'form-control' %>
          			</div>

          			<div class="form-group">
          				<%= f.label :rights_status %>
          				<%= f.select :rights_status, [ 'Copyrighted', 'Public Domain', 'Creative Commons'], {}, {:class => 'form-control'} %>
          			</div>
          		</div><!-- end span 6 -->
          	</div><!-- end row -->

			  <div class="row">
				  <div class="col-md-6">
          	<h4>Status</h4>
          	<div class="form-group">
          			<label class="radio-inline">
                  <%= f.radio_button :state, "draft", checked: controller.action_name == "new" ? true : @document.draft?, disabled: !@document.draft? && controller.action_name == "edit" %>
                  <i class="glyphicon glyphicon-pencil"></i> Draft
                </label>
            		<label class="radio-inline">
                  <%= f.radio_button :state, "published", checked: @document.published? %>
                  <i class="glyphicon glyphicon-ok"></i> Published
                </label>
                <% if current_user.has_role?(:admin) %>
                <label class="radio-inline">
                  <%= f.radio_button :state, "public", checked: @document.public? %>
                  <i class="glyphicon glyphicon-share-alt"></i> Public
                </label>
                <% end %>
          			<label class="radio-inline">
                  <%= f.radio_button :state, "deleted", checked: @document.deleted?, disabled: controller.action_name == "new" %>
                  <i class="glyphicon glyphicon-folder-close"></i> Archived
                </label>
                <p class="help-block">Only published documents may be annotated.</p>
                <p class="help-block">Once published, documents may not be edited or deleted.</p>
          	</div>
				  </div><!-- end span 6 -->

                <!--<%# if can? :manage, Document %>-->
                <!--<h4>Survey Link</h4>-->
                <!--<div class="form-group">-->
                  <!--<p class="help-block">If you wish users to see a link to an offsite survey at top and bottom of the text, put that URL in this field.</p>-->
                  <!--<%#= f.text_field :survey_link, :class => 'form-control' %>-->
                <!--</div>-->
                <!--<%# end %>-->

			  <div class="col-md-6">
          	<h4>Classes</h4>
          	<p class="help-block">Enter the classes to whom you wish to assign this document, <strong>and press enter after each.</strong></p>
          	<div class="form-group">
          	<%= f.text_field :rep_group_list, :class => 'form-control', 'data-role' => "tagsinput", 'placeholder' => "Enter class name(s)" %>
          	</div>
			  </div><!-- end span 6 -->
			  </div><!-- end row -->

            <%= f.submit nil, :class => 'btn btn-default btn btn-default-primary btn-primary' %>
          	<%= link_to 'Cancel', documents_url, :class => 'btn btn-default' %>
          <% end %>

          <script type="text/javascript">
          $(document).ready(function() {

            $('.text-area').summernote({
                height: 300,
                minHeight: null,
                maxHeight: null,
            });
            $('.chapter-area').summernote({
                height: 300,
                minHeight: null,
                maxHeight: null,
            });
            $('#chapter-editor').hide();
            $('#chapter-label').click(function(){
              $("[data-event='codeview']").click()
              $('#chapter-editor').toggle();
            });

            // handle catalog texts

            var text = {};

            <% unless @catalog_texts.nil? || @catalog_texts.empty? %>
              <% @catalog_texts.each do | entry | %>
                 var e = {};

                 // fill in all the fields here...
                 <% ['name', 'author', 'edition', 'publisher', 'publication_date', 'manuscript', 'permissions'].each do | field | %>
                    e[ '<%= field %>' ] = '<%= entry[field].nil? ? '' : entry[field] %>';
                 <% end %>
                 text[ '<%= entry['eid'] %>' ] = e;
              <% end %>
            <% end %>

            $('.clickable').on('click', function (e) {
                var id = $( this ).attr( "id" );
                var entry = text[ id ];
                $( "#document_title").val( entry['name'] );
                $( "#document_author").val( entry[ 'author'] );
                $( "#document_edition").val( entry[ 'edition'] );
                $( "#document_publisher").val( entry[ 'publisher'] );
                $( "#document_publication_date").val( entry[ 'publication_date'] );
                $( "#document_source").val( entry[ 'manuscript'] );
                $( "#document_rights_status").val( entry[ 'permissions'] );
                $( ".note-editable").html( "EID:" + id );
            })

          });
          </script>
