<!-- documents/_leftnav.html.erb -->
<% if params[:action] == 'show' %>
<h4>Info</h4>
<ul class="nav navmenu-nav">
  <li>Status:
    <% if @document.state == "draft" %>
      Draft <i class="glyphicon glyphicon-pencil"></i>
    <% elsif @document.state == "published" %>
      Published <i class="glyphicon glyphicon-ok"></i>
    <% elsif @document.state == "deleted" %>
      Archived <i class="glyphicon glyphicon-folder-close"></i>
    <% end %>
  </li>
<% if @document.author != "" %>
  <li>Author: <%= @document.author %></li>
<% end %>
<% if @document.publisher != "" %>
  <li>Publisher: <%= @document.publisher %></li>
<% end %>
<% if @document.publication_date != "" %>
  <li>Publication date: <%= @document.publication_date %></li>
<% end %>
<% if @document.edition != "" %>
  <li>Edition: <%= @document.edition %></li>
<% end %>
<% if @document.source != "" %>
  <li>Source: <%= @document.source %></li>
<% end %>
</ul>

<h4>Chapters</h4>
<ul class="nav navmenu-nav" id="chapternav">
<%= @document.chapters.try(:html_safe) %>
</ul>
<script type="text/javascript" charset="utf-8">
  $("#chapternav a").click(function(event){
    event.preventDefault();
    var idtarget = $(this).attr("href");
    $('html,body').animate({scrollTop: $(idtarget).offset().top}, 500);
  });
</script>
<% end %>
