<!-- documents/_leftnav.html.erb -->

<div class="close-offcanvas close-offcanvas-left" data-toggle="offcanvas" data-target="#mainmenu"><i class="glyphicon glyphicon-remove"></i></div>

<% if params[:action] == 'show' && !@document.nil? %>
  <h4>Document Info</h4>
  <ul class="nav navmenu-nav docmeta">
    <% if ! @document.author.blank? %>
      <li>
        <span class="meta-key">Author</span> 
        <br /> 
        <span class="meta-value"><%= sanitize @document.author %></span>
      </li>
    <% end %>
    <% if ! @document.publisher.blank? %>
      <li>
        <span class="meta-key">Publisher</span>
        <br />
        <span class="meta-value"><%= sanitize @document.publisher %></span>
      </li>
    <% end %>
    <% if ! @document.publication_date.blank? %>
      <li><span class="meta-key">Publication date</span>
        <br />
        <span class="meta-value"><%= sanitize @document.publication_date %></span></li>
    <% end %>
    <% if ! @document.location.blank? %>
      <li><span class="meta-key">Publication Location</span>
        <br />
        <span class="meta-value"><%= sanitize @document.location %></span></li>
    <% end %>
    <% if ! @document.edition.blank? %>
      <li><span class="meta-key">Edition/Volume</span>
        <br />
        <span class="meta-value"><%= sanitize @document.edition %></span></li>
    <% end %>
    <% source = (sanitize @document.source) %>
    <% if !source.blank? %>
      <li><span class="meta-key">Source</span>
        <br />
        <% if valid_url?(source) %>
          <span class="meta-value"><a href="<%= source %>" class="sourceurl"><%= source %></a></span>
        <% else %>
          <span class="meta-value"><%= source %></span>
        <% end %>
      </li>
    <% end %>
    <% if ! @document.page_numbers.blank? %>
      <li><span class="meta-key">Page Numbers</span>
        <br />
        <span class="meta-value"><%= sanitize @document.page_numbers %></span>
      </li>
    <% end %>
    <% if ! @document.notes.blank? %>
      <li>
        <span class="meta-key">Additional Notes</span>
        <br />
        <span id="metadata-notes" class="meta-value"><%= sanitize @document.notes %></span>
      </li>
    <% end %>
    <li><span class="meta-key">Status</span>
      <br />
      <span class="meta-value">
        <% if @document.state == "draft" %>
          Draft <i class="glyphicon glyphicon-pencil"></i>
        <% elsif @document.state == "published" %>
          Published <i class="glyphicon glyphicon-comment"></i>
        <% elsif @document.state == "archived" %>
          Archived <i class="glyphicon glyphicon-folder-close"></i>
        <% elsif @document.state == "public" %>
          Public <i class="glyphicon glyphicon-globe"></i>
        <% end %>
      </span>
    </li>
  </ul>
  <br>
  <% if ! @document.chapters.blank? %>
    <h4>Chapters</h4>
    <ul class="nav navmenu-nav" id="chapternav">
      <%= sanitize @document.chapters %>
    </ul>
    <script type="text/javascript" charset="utf-8">
      $("#chapternav a").click(function(event){
        event.preventDefault();
        var idtarget = $(this).attr("href");
        $('html,body').animate({scrollTop: $(idtarget).offset().top}, 500);
      });
    </script>
  <% end %>
<% end %>
