<!-- documents/_leftnav.html.erb -->
<% if params[:action] == 'show' %>
<h4 style="color:black;">Info</h4>
<ul class="nav navmenu-nav" >
  <li style="color:black">Status:
    <% if @document.state == "draft" %>
      Draft <i class="glyphicon glyphicon-pencil"></i>
    <% elsif @document.state == "published" %>
      Published <i class="glyphicon glyphicon-comment"></i>
    <% elsif @document.state == "archived" %>
      Archived <i class="glyphicon glyphicon-folder-close"></i>
    <% elsif @document.state == "public" %>
      Public <i class="glyphicon glyphicon-globe"></i>
    <% end %>
  </li>
<% if ! @document.author.blank? %>
  <li style="color:black">Author: <%= @document.author %></li>
<% end %>
<% if ! @document.publisher.blank? %>
  <li style="color:black">Publisher: <%= @document.publisher %></li>
<% end %>
<% if ! @document.publication_date.blank? %>
  <li style="color:black">Publication date: <%= @document.publication_date %></li>
<% end %>
<% if ! @document.location.blank? %>
  <li style="color:black">Publication Location: <%= @document.location %></li>
<% end %>
<% if ! @document.edition.blank? %>
  <li style="color:black">Edition/Volume: <%= @document.edition %></li>
<% end %>

<% source = @document.source %>
<% if !source.blank? %>

  <li style="color:black">Source:
    <% if validUrl?(source) && (source.include? 'http') %>
      <a href="<%= source %>"><%= source %> </a>

    <% elsif validUrl?(source) #append '//' to href %>
      <% link = '//' + source %>
        <a href="<%= link %>"><%= source %> </a>

    <% else %>
      <%= source %>

    <% end %>
  </li>
<% end %>
<% if ! @document.page_numbers.blank? %>
  <li style="color:black">Page Numbers: <%= @document.page_numbers %></li>
<% end %>
<% if ! @document.notes.blank? %>
  <li style="color:black"> Additional Notes: <span id="metadata-notes"> <%= @document.notes %> </span></li>
<% end %>

</ul>

<br>
<% if ! @document.chapters.blank? %>
<h4 style="color:black">Chapters</h4>
<ul class="nav navmenu-nav" id="chapternav">
<%= @document.chapters.try(:html_safe) %>
</ul>
<script type="text/javascript" charset="utf-8">
  $("#chapternav a").click(function(event){
    event.preventDefault();
    var idtarget = $(this).attr("href");
    $('html,body').animate({scrollTop: $(idtarget).offset().top}, 500);
  });
</script>
<% end %>
<% end %>
