<script type="text/javascript" charset="utf-8">
  if ("<%= @document.state %>" === "draft") {
    statusMessage = '<i class="fa fa-pencil"></i> Draft';
  }
  else if ("<%= @document.state %>" === "published") {
    statusMessage = '<i class="fa fa-comment"></i> Published';
  }
  else if ("<%= @document.state %>" === "public") {
    statusMessage = '<i class="fa glyphicon-book"></i> Public';
  }
  else if ("<%= @document.state %>" === "archived") {
    statusMessage = '<i class="fa fa-folder-close"></i> Archived';
  };

  var docMetaInfo = "";
  docMetaInfo = docMetaInfo + "<li>Status: " + statusMessage;
  if ("<%= @document.author %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Author: <%= @document.author %></li>";
  }
  if ("<%= @document.publisher %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Publisher: <%= @document.publisher %></li>";
  }
  if ("<%= @document.publication_date %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Publication date: <%= @document.publication_date %></li>";
  }
  if ("<%= @document.edition %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Edition/Volume: <%= @document.edition %></li>";
  }
  if ("<%= @document.source %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Source: <%= @document.source %></li>";
  }
  if (docMetaInfo != "") {
    docMetaInfo = "<ul>"+ docMetaInfo + "</ul>";
  }
  $('#doc_title').popover({
    'html': 'true',
    'placement': 'bottom',
    'trigger': 'hover',
    'title': "Additional information",
    'content': docMetaInfo === "" ? "None at this time" : docMetaInfo,
  });
</script>
