<% if params[:action] == 'show' && ! @document.draft? %>
  <h4>Filter annotations by:</h4>
  <p><strong>Who</strong> made them:</p>
  <div class="btn-group btn-group-sm" data-toggle="buttons" id="view-chooser">
    <label class="btn btn-default btn-sm viewchoice active" id="user">
      <input type="radio" checked value="user">Me</input>
    </label>
    <label class="btn btn-default btn-sm viewchoice" id="group">
      <input type="radio" value="group"><%= ENV["GROUP_TERM_PLURAL"] %></input>
    </label>
    <label class="btn btn-default btn-sm viewchoice" id="class">
      <input type="radio" value="class"><%= ENV["CLASS_TERM_PLURAL"] %></input>
    </label>
    <% if current_user.has_role?(:admin) %>
    <label class="btn btn-default btn-sm viewchoice" id="admin">
      <input type="radio" value="admin">All</input>
    </label>
    <% end %>
  </div>
  <p><strong>Where</strong> they occur:</p>
  <div class="btn-group btn-group-sm" data-toggle="buttons" id="filter-chooser">
    <label class="btn btn-default btn-sm active" id="visibleannotations">
      <input type="radio" class="btn btn-default btn-sm active" checked value="visibleannotations">Visible portion</input>
    </label>
    <label class="btn btn-default btn-sm" id="allannotations">
      <input type="radio" class="btn btn-default btn-sm" value="allannotations">Whole document</input>
    </label>
  </div>
  <p><strong>How</strong> they are tagged:</p>
  <div class="input-group" id="tag-chooser">
    <input type="text" id="tagsearchbox" placeholder="Enter tag(s) to filter on">
  </div><!-- /input-group -->



  <% if Tenant.annotation_categories_enabled -%>
  <p><strong>How</strong> they are categorized:</p>
  <div class="btn-toolbar" id="category-chooser">
    <% AnnotationCategory.find_each do |annotation_category| -%>
    <button id="annotation_category_<%= annotation_category.id %>" type="button" class="btn btn-default btn-sm" data-annotation_category_id="<%= annotation_category.id %>" data-hex="<%= annotation_category.hex %>"><%= annotation_category.name %></button>
    <% end -%>
  </div><!-- /input-group -->
  <% end -%>
  <% if ENV["ANNOTATOR_CUSTOM_SORT"] == 'true' -%>
  <h4>Sort annotations by:</h4>
  <p><strong>How</strong> they are sorted:</p>
  <div class="btn-group btn-group-sm" data-toggle="buttons" id="sort-chooser">
    <label class="btn btn-default btn-sm viewchoice active" id="textpositionsort">
      <input type="radio" checked value="textpositionsort">Text Position</input>
    </label>
    <label class="btn btn-default btn-sm viewchoice" id="customsort">
      <input type="radio" checked value="customsort">Custom</input>
    </label>
  </div><!-- /input-group -->
  <% end %>
<% end %>


<script>
  $("input").autocomplete({
    source: ["one", "fish", "blue", "red"]
  });


</script>
