<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Documents' %>
<%= stylesheet_link_tag "documents" %>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Documents", documents_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
          <li class="active">
            <a href="#assigned" data-toggle="tab">
              <span class="badge">
                <%= Document.tagged_with(current_user.rep_group_list, :any =>true).size %></span>
              Assigned
            </a>
          </li>
          <li>
            <a href="#created" data-toggle="tab">
              <span class="badge">
                <%= current_user.documents.size %></span>
              Created
            </a>
          </li>
          <% if can? :manage, Document %>
          <li>
            <a id="all-tab" href="#all" data-toggle="tab">
              <span class="badge">
                <%= Document.all.length %></span>
              All
            </a>
          </li>
          <% end %>
        </ul>
      </div><!-- / .panel-heading -->
    <div class="tab-content">
      <div class="tab-pane no-padding fade active in" id="assigned">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Groups</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% if Document.tagged_with(current_user.rep_group_list, :any =>
          true).any? %>
          <% Document.order("created_at DESC").tagged_with(current_user.rep_group_list, :any =>
          true).each do |document| %>
          <tr>
            <td>
              <%= link_to document.title, document_path(document.friendly_id) %></td>
            <td>
              <%= document.author %></td>
            <td>
              <%= document.created_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% document.rep_group_list.each do |group| %>
              <span class="label label-info">
                <%= group %></span>
              <% end %></td>
            <td>
              <% if document.draft? %> <i class="glyphicon glyphicon-pencil"></i>
              <% elsif document.public? %><i class="glyphicon glyphicon-share-alt"></i>
              <% elsif document.published? %> <i class="glyphicon glyphicon-ok"></i>
              <% elsif document.deleted? %>
              <i class="glyphicon glyphicon-folder-close"></i>
              <% end %></td>
            <td class="button-column">
              <% if can? :update, document %>
              <%= link_to 'Edit', edit_document_path(document.friendly_id), :class =>
              'btn btn-primary btn-sm' %>
              <% end %>
              <% if can? :destroy, document %>
              <%= link_to 'Delete', document_path(document.friendly_id), :method =>
              :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-sm' %>
              <% end %></td>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <td colspan="6">No documents to view.</td>
          </tr>
          <% end %></table>
      </div>
      <div class="tab-pane no-padding fade in" id="created">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Groups</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% if current_user.documents.any? %>
          <% current_user.documents.order("created_at DESC").each do |document| %>
          <% if can? :read, document %>
          <tr>
            <td>
              <%= link_to document.title, document_path(document.friendly_id) %></td>
            <td>
              <%= document.author %></td>
            <td>
              <%= document.created_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% document.rep_group_list.each do |group| %>
              <span class="label label-info">
                <%= group %></span>
              <% end %></td>
            <td>
              <% if document.draft? %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% elsif document.published? %>
              <i class="glyphicon glyphicon-ok"></i>
              <% elsif document.public? %>
              <i class="glyphicon glyphicon-share-alt"></i>
              <% elsif document.deleted? %>
              <i class="glyphicon glyphicon-folder-close"></i>
              <% end %></td>
            <td class="button-column">
              <% if can? :update, document %>
              <%= link_to 'Edit', edit_document_path(document.friendly_id), :class =>
              'btn btn-primary btn-sm' %>
              <% end %>
              <% if can? :destroy, document %>
              <%= link_to 'Delete', document_path(document.friendly_id), :method =>
              :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-sm' %>
              <% end %></td>
          </tr>
          <% end %>
          <% end %>
          <% else %>
          <tr>
            <td colspan="4">No documents to view.</td>
          </tr>
          <% end %></table>
      </div>
      <% if can? :manage, Document %>
      <div class="tab-pane no-padding fade in" id="all">
        <table class="table table-striped table-bordered">
          <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Created</th>
            <th>Groups</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
          <% if Document.any? %>
          <% Document.order("created_at DESC").each do |document| %>
          <tr>
            <td>
              <%= link_to document.title, document_path(document.friendly_id) %></td>
            <td>
              <%= document.author %></td>
            <td>
              <%= document.created_at.strftime("%m/%d/%Y") %></td>
            <td>
              <% document.rep_group_list.each do |group| %>
              <span class="label label-info">
                <%= group %></span>
              <% end %></td>
            <td>
              <% if document.draft? %>
              <i class="glyphicon glyphicon-pencil"></i>
              <% elsif document.public? %>
              <i class="glyphicon glyphicon-share-alt"></i>
              <% elsif document.published? %>
              <i class="glyphicon glyphicon-ok"></i>
              <% elsif document.deleted? %>
              <i class="glyphicon glyphicon-folder-close"></i>
              <% end %></td>
            <td class="button-column">
              <% if can? :update, document %>
              <%= link_to 'Edit', edit_document_path(document.friendly_id), :class =>
              'btn btn-primary btn-sm' %>
              <% end %>
              <% if can? :destroy, document %>
              <%= link_to 'Delete', document_path(document.friendly_id), :method =>
              :delete, :confirm => 'Are you sure?', :class => 'btn btn-danger btn-sm' %>
              <% end %></td>
          </tr>
          <% end %>
          <% else %>
          <tr>
            <td colspan="4">No documents to view.</td>
          </tr>
          <% end %></table>
      </div>
      <% end %></div>
    <% if can? :create, Document %>
    <ul class="nav nav-pills">
      <li><%= link_to raw("<span class=\"glyphicon glyphicon-plus\" aria-hidden=\"true\"></span> Create new document"), document_path('new') %></li>
    </ul>
    <% end %>
    </div><!--/panel -->
    </div><!--/col-md-12 -->
</div><!--/row -->
<script type="text/javascript">
$(document).ready(
  function(){
    var hash = window.location.hash
    if (hash.length > 0){
      setTimeout(function(){
        console.log(hash);
        $(hash + "-tab").tab('show');
      },10);
    }
  }
);
</script>
