<div class="span12">
	<h1>Documents</h1>
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Title</th>
	      <th>Author</th>
	      <th>Created</th>
	      <th>Actions</th>
	    </tr>
	  </thead>
	  <tbody>    
	    <% @documents.each do |document| %>
	      <tr>
	        <td><%= link_to document.title, document_path(document.friendly_id) %></td>
	        <td><%= document.author %></td>
	        <td><%= time_ago_in_words(document.created_at) %></td>
	        <td>
	          <%= link_to 'Edit', edit_document_path(document.friendly_id), :class => 'btn btn-mini' %>
	          <%= link_to 'Delete', document_path(document.friendly_id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
	        </td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>
	<%= link_to 'New', new_document_path, :class => 'btn btn-primary' %>
</div><!--/span12 -->
