<h1> Search By <%= @title_text %> </h1>

<div class="row">

  <% @documents.each do |doc| %>

    <div class= "column"> 
       
       <span class="title"><%= link_to doc.title, document_path(id: doc.id) %> </span>
       <br>
       <br>

        <div class="tile-content"> 

        <%= 'Author: '+ doc.author if doc.author != "" && doc.author %> <br> 
      
       Created: <%= doc.created_at.strftime("%m/%d/%Y") %> <br> 
       
       Groups: <%= doc.groups.pluck(:name) %> <br>

       Status: 
       <span id="status-icon"> 
        <% case doc.state %>
          <% when 'draft' %>
            <i class="glyphicon glyphicon-pencil" title="<%= doc.state %>"></i>
          <% when 'published' %>
            <i class="glyphicon glyphicon-comment" title="<%= doc.state %>"></i>
          <% when 'archived' %>
            <i class="glyphicon glyphicon-folder-close" title="<%= doc.state %>"></i>
          <% when 'public' %>
            <i class="glyphicon glyphicon-globe" title="<%= doc.state %>"></i>
          <% else %>
            <%= doc.state %>
          <% end %>
       </span> 
  
     </div> <!-- tile-content-->

       <br>

       <%= link_to "Edit", controller: "documents", action: "edit", id: doc.id if doc.user == current_user %>
    </div> <!-- end column -->

  <% end %> <!-- end doc loop -->

  </div>  <!-- end row -->



<style>
	
	.row{
	  display:flex;
	  flex-wrap: wrap;
	}
	.column{
	  background-color: white;
	  float: left;
	  width: 17%;
	  height: 220px;
	  padding:5px;
	  margin:2% 1% 0;
	}
	.title{
	  text-overflow: ellipsis;
	  max-width: 10px;
	  overflow: hidden;
	  font-size: 16px;

	}

	.tile-content{
	  text-overflow: ellipsis;
	  overflow: hidden;
	}
</style>
