<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'index' %>
<%= content_for :page_title, 'Documents' %>
<%= stylesheet_link_tag "documents" %>

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title">
          <%= link_to "Documents", documents_path %></span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="document-tabs" role="tablist">
          <% if can? :manage, Document %>
            <li class="<%= @tab_state['all'] %>">
              <%= link_to documents_path( docs: 'all' ), params.permit(:docs) do %>
                <span class='badge'><%= @all_documents_count %></span> All
              <% end %>
            </li>
          <% end %>
        </ul>
      </div><!-- / .panel-heading -->
    <div class="tab-content">
      <div class="tab-pane no-padding active" id="all">
        <%= render partial: 'document_table', locals: { documents: @documents } %>
      </div>
    </div>
    <div class="panel-footer doc-set-footer">
      <% if can? :create, Document %>
        <%= link_to document_path('new'), class: 'btn btn-primary create-new-button' do %>
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Create New Document
        <% end %>
      <% end %>
      <div class='pagination-controls'>
        <%= will_paginate @documents, renderer: BootstrapPagination::Rails %>
      </div>
    </div>
  </div><!--/panel -->
  </div><!--/col-md-12 -->
</div><!--/row -->


<script type="text/javascript">
  $(document).ready(
    function(){
      var hash = window.location.hash
      if (hash.length > 0){
        setTimeout(function(){
          console.log(hash);
          $(hash + "-tab").tab('show');
        },10);
      }
    }
  );
</script>
