<h1>Documents for <em><%= @collection.title %></em></h1>
<p>
  <b>Description</b><br>
  <%= @collection.description %>
</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>    
    <% @collection.documents.each do |document| %>
      <tr>
        <td><%= document.id %></td>
        <td><%= link_to document.title, collection_document_path(@collection.id, document.id) %></td>
        <td><%= document.created_at %></td>
        <td>
          <%= link_to 'Edit', edit_collection_document_path(@collection.id, document.id), :class => 'btn btn-mini' %>
          <%= link_to 'Destroy', collection_document_path(@collection.id, document.id), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to 'New', new_collection_document_path, :class => 'btn btn-primary' %>
