<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'show' %>
<%= content_for :page_title, @document.title %>
<%= stylesheet_link_tag "documents" %>
<div class="row">
  <div class="col-md-8">
    <% if ! @document.processed? %>
      <%= render 'processed_message' %>
    <% end %>
    <% if @document.survey_link.present? %>
      <%= render 'survey_button' %>
    <% end %>
    <div id="textcontent">
      <div><!-- Required for cases in which there's no HTML in the text -->
        <%= @document.text.html_safe %>
      </div>
    </div>
    <% if @document.survey_link.present? %>
      <%= render 'survey_button' %>
    <% end %>
  </div><!--/col-md-8 -->
  <div class="col-md-4">
    <% if @document.processed? and ! @document.draft? %>
      <%= render "documents/annotation_sidebar" %>
    <% end %>
  </div><!--/col-md-3 -->
</div><!--/row -->
<%= render "documents/help" %>
<div id="spinnermodal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="spinnermodallabel" aria-hidden="true">
  <div class="modal-body" id="spinnerdiv"><em>Loading annotations...</em></div>
</div>
<%# render "documents/metadata" %>

<script type="text/javascript">

var annotationStudioConfig = {
  enableRichTextEditor: '<%= @enable_rich_text_editor %>',
  tinyMCEToolbar: '<%= @tiny_mce_toolbar %>',
  apiURL: '<%= @api_url %>',
  melCatalogEnabled: '<%= @mel_catalog_enabled %>'
};

$('#annotation-list').slimScroll({
  height: '99%',
  width: '340px',
  alwaysVisible: false,
  allowPageScroll: true,
  disableFadeOut: true
});

$('#chapternav').slimScroll({
  height: '90%',
  width: '250px',
  size: '10px',
  position: 'right',
  color: '#ccc',
  distance: '5px',
  alwaysVisible: false,
  allowPageScroll: true,
  disableFadeOut: true
});
</script>
