<div class="span3">
	<div class="affix-top" data-spy="affix" id="chapters" style="overflow:auto;">
		<h4>Chapters</h4>
		<ul class="nav nav-list nav-collapse" id="chapternav">
			<li><a href="#2HCH0001">1. Loomings.</a></li>
			<li><a href="#2HCH0002">2. The Carpet-Bag.</a></li>
			<li><a href="#2HCH0003">3. The Spouter-Inn.</a></li>
			<li><a href="#2HCH0004">4. The Counterpane.</a></li>
			<li><a href="#2HCH0005">5. Breakfast.</a></li>
			<li><a href="#2HCH0006">6. The Street.</a></li>
			<li><a href="#2HCH0007">7. The Chapel.</a></li>
			<li><a href="#2HCH0008">8. The Pulpit.</a></li>
			<li><a href="#2HCH0009">9. The Sermon.</a></li>
			<li><a href="#2HCH0010">10. A Bosom Friend.</a></li>
			<li><a href="#2HCH0011">11. Nightgown.</a></li>
			<li><a href="#2HCH0012">12. Biographical.</a></li>
			<li><a href="#2HCH0013">13. Wheelbarrow.</a></li>
			<li><a href="#2HCH0014">14. Nantucket.</a></li>
			<li><a href="#2HCH0015">15. Chowder.</a></li>
			<li><a href="#2HCH0016">16. The Ship.</a></li>
			<li><a href="#2HCH0017">17. The Ramadan.</a></li>
			<li><a href="#2HCH0018">18. His Mark.</a></li>
			<li><a href="#2HCH0019">19. The Prophet.</a></li>
			<li><a href="#2HCH0020">20. All Astir.</a></li>
			<li><a href="#2HCH0021">21. Going Aboard.</a></li>
			<li><a href="#2HCH0022">22. Merry Christmas.</a></li>
			<li><a href="#2HCH0023">23. The Lee Shore.</a></li>
			<li><a href="#2HCH0024">24. The Advocate.</a></li>
			<li><a href="#2HCH0025">25. Postscript.</a></li>
			<li><a href="#2HCH0026">26. Knights and Squires.</a></li>
			<li><a href="#2HCH0027">27. Knights and Squires.</a></li>
			<li><a href="#2HCH0028">28. Ahab.</a></li>
			<li><a href="#2HCH0029">29. Enter Ahab; to Him, Stubb.</a></li>
			<li><a href="#2HCH0030">30. The Pipe.</a></li>
			<li><a href="#2HCH0031">31. Queen Mab.</a></li>
			<li><a href="#2HCH0032">32. Cetology.</a></li>
			<li><a href="#2HCH0033">33. The Specksnyder.</a></li>
			<li><a href="#2HCH0034">34. The Cabin-Table.</a></li>
			<li><a href="#2HCH0035">35. The Mast-Head.</a></li>
			<li><a href="#2HCH0036">36. The Quarter-Deck.</a></li>
			<li><a href="#2HCH0037">37. Sunset.</a></li>
			<li><a href="#2HCH0038">38. Dusk.</a></li>
			<li><a href="#2HCH0039">39. First Night Watch.</a></li>
			<li><a href="#2HCH0040">40. Midnight, Forecastle.</a></li>
			<li><a href="#2HCH0041">41. Moby Dick.</a></li>
			<li><a href="#2HCH0042">42. The Whiteness of The Whale.</a></li>
			<li><a href="#2HCH0043">43. Hark!</a></li>
			<li><a href="#2HCH0044">44. The Chart.</a></li>
			<li><a href="#2HCH0045">45. The Affidavit.</a></li>
			<li><a href="#2HCH0046">46. Surmises.</a></li>
			<li><a href="#2HCH0047">47. The Mat-Maker.</a></li>
			<li><a href="#2HCH0048">48. The First Lowering.</a></li>
			<li><a href="#2HCH0049">49. The Hyena.</a></li>
			<li><a href="#2HCH0050">50. Ahab's Boat and Crew. Fedallah.</a></li>
			<li><a href="#2HCH0051">51. The Spirit-Spout.</a></li>
			<li><a href="#2HCH0052">52. The Albatross.</a></li>
			<li><a href="#2HCH0053">53. The Gam.</a></li>
			<li><a href="#2HCH0054">54. The Town-Ho's Story.</a></li>
			<li><a href="#2HCH0055">55. Of the Monstrous Pictures of Whales.</a></li>
			<li><a href="#2HCH0056">56. Of the Less Erroneous Pictures of Whales, and the True</a></li>
			<li><a href="#2HCH0057">57. Of Whales in Paint; in Teeth; in Wood; in Sheet-Iron; in</a></li>
			<li><a href="#2HCH0058">58. Brit.</a></li>
			<li><a href="#2HCH0059">59. Squid.</a></li>
			<li><a href="#2HCH0060">60. The Line.</a></li>
			<li><a href="#2HCH0061">61. Stubb Kills a Whale.</a></li>
			<li><a href="#2HCH0062">62. The Dart.</a></li>
			<li><a href="#2HCH0063">63. The Crotch.</a></li>
			<li><a href="#2HCH0064">64. Stubb's Supper.</a></li>
			<li><a href="#2HCH0065">65. The Whale as a Dish.</a></li>
			<li><a href="#2HCH0066">66. The Shark Massacre.</a></li>
			<li><a href="#2HCH0067">67. Cutting In.</a></li>
			<li><a href="#2HCH0068">68. The Blanket.</a></li>
			<li><a href="#2HCH0069">69. The Funeral.</a></li>
			<li><a href="#2HCH0070">70. The Sphynx.</a></li>
			<li><a href="#2HCH0071">71. The Jeroboam's Story.</a></li>
			<li><a href="#2HCH0072">72. The Monkey-Rope.</a></li>
			<li><a href="#2HCH0073">73. Stubb and Flask Kill a Right Whale; and Then Have a Talk</a></li>
			<li><a href="#2HCH0074">74. The Sperm Whale's Head—Contrasted View.</a></li>
			<li><a href="#2HCH0075">75. The Right Whale's Head—Contrasted View.</a></li>
			<li><a href="#2HCH0076">76. The Battering-Ram.</a></li>
			<li><a href="#2HCH0077">77. The Great Heidelburgh Tun.</a></li>
			<li><a href="#2HCH0078">78. Cistern and Buckets.</a></li>
			<li><a href="#2HCH0079">79. The Prairie.</a></li>
			<li><a href="#2HCH0080">80. The Nut.</a></li>
			<li><a href="#2HCH0081">81. The Pequod Meets The Virgin.</a></li>
			<li><a href="#2HCH0082">82. The Honour and Glory of Whaling.</a></li>
			<li><a href="#2HCH0083">83. Jonah Historically Regarded.</a></li>
			<li><a href="#2HCH0084">84. Pitchpoling.</a></li>
			<li><a href="#2HCH0085">85. The Fountain.</a></li>
			<li><a href="#2HCH0086">86. The Tail.</a></li>
			<li><a href="#2HCH0087">87. The Grand Armada.</a></li>
			<li><a href="#2HCH0088">88. Schools and Schoolmasters.</a></li>
			<li><a href="#2HCH0089">89. Fast-Fish and Loose-Fish.</a></li>
			<li><a href="#2HCH0090">90. Heads or Tails.</a></li>
			<li><a href="#2HCH0091">91. The Pequod Meets The Rose-Bud.</a></li>
			<li><a href="#2HCH0092">92. Ambergris.</a></li>
			<li><a href="#2HCH0093">93. The Castaway.</a></li>
			<li><a href="#2HCH0094">94. A Squeeze of the Hand.</a></li>
			<li><a href="#2HCH0095">95. The Cassock.</a></li>
			<li><a href="#2HCH0096">96. The Try-Works.</a></li>
			<li><a href="#2HCH0097">97. The Lamp.</a></li>
			<li><a href="#2HCH0098">98. Stowing Down and Clearing Up.</a></li>
			<li><a href="#2HCH0099">99. The Doubloon.</a></li>
			<li><a href="#2HCH0100">100. Leg and Arm.</a></li>
			<li><a href="#2HCH0101">101. The Decanter.</a></li>
			<li><a href="#2HCH0102">102. A Bower in the Arsacides.</a></li>
			<li><a href="#2HCH0103">103. Measurement of The Whale's Skeleton.</a></li>
			<li><a href="#2HCH0104">104. The Fossil Whale.</a></li>
			<li><a href="#2HCH0105">105. Does the Whale's Magnitude Diminish?—Will He Perish?</a></li>
			<li><a href="#2HCH0106">106. Ahab's Leg.</a></li>
			<li><a href="#2HCH0107">107. The Carpenter.</a></li>
			<li><a href="#2HCH0108">108. Ahab and the Carpenter.</a></li>
			<li><a href="#2HCH0109">109. Ahab and Starbuck in the Cabin.</a></li>
			<li><a href="#2HCH0110">110. Queequeg in His Coffin.</a></li>
			<li><a href="#2HCH0111">111. The Pacific.</a></li>
			<li><a href="#2HCH0112">112. The Blacksmith.</a></li>
			<li><a href="#2HCH0113">113. The Forge.</a></li>
			<li><a href="#2HCH0114">114. The Gilder.</a></li>
			<li><a href="#2HCH0115">115. The Pequod Meets The Bachelor.</a></li>
			<li><a href="#2HCH0116">116. The Dying Whale.</a></li>
			<li><a href="#2HCH0117">117. The Whale Watch.</a></li>
			<li><a href="#2HCH0118">118. The Quadrant.</a></li>
			<li><a href="#2HCH0119">119. The Candles.</a></li>
			<li><a href="#2HCH0120">120. The Deck Towards the End of the First Night Watch.</a></li>
			<li><a href="#2HCH0121">121. Midnight.—The Forecastle Bulwarks.</a></li>
			<li><a href="#2HCH0122">122. Midnight Aloft.—Thunder and Lightning.</a></li>
			<li><a href="#2HCH0123">123. The Musket.</a></li>
			<li><a href="#2HCH0124">124. The Needle.</a></li>
			<li><a href="#2HCH0125">125. The Log and Line.</a></li>
			<li><a href="#2HCH0126">126. The Life-Buoy.</a></li>
			<li><a href="#2HCH0127">127. The Deck.</a></li>
			<li><a href="#2HCH0128">128. The Pequod Meets The Rachel.</a></li>
			<li><a href="#2HCH0129">129. The Cabin.</a></li>
			<li><a href="#2HCH0130">130. The Hat.</a></li>
			<li><a href="#2HCH0131">131. The Pequod Meets The Delight.</a></li>
			<li><a href="#2HCH0132">132. The Symphony.</a></li>
			<li><a href="#2HCH0133">133. The Chase—First Day.</a></li>
			<li><a href="#2HCH0134">134. The Chase—Second Day.</a></li>
			<li><a href="#2HCH0135">135. The Chase.—Third Day.</a></li>
			<li><a href="#2H_EPIL">Epilogue</a></li>
		</ul>
		<script type="text/javascript" charset="utf-8">
			$("#chapternav a").click(function(event){
				event.preventDefault();				
				var idtarget = $(this).attr("href");
				$('html,body').animate({scrollTop: $(idtarget).offset().top - 150}, 500);
				// $(idtarget).prepend('<i class="icon-comment"></i>');
				// event.stopPropagation();
			});

		</script>
	</div>
</div><!--/span3 -->
<div class="span6">
	<div class="navbar navbar-fixed-top" id="document-title">
		<div class="navbar-inner">
			<div class="container">
				<div class="container nav-collapse">
					<h2><%= @document.title %></h2>
					<h4 class="pull-right">Annotations</h4>
				</div><!--/.nav-collapse -->
			</div><!--/.container -->
		</div><!--/.navbar-inner -->
	</div>
	<div id="textcontent">
		<div><!-- Required for cases in which there's no HTML in the text -->
			<%= @document.text.html_safe %>
		</div>
	</div>
	<div class="form-actions">
		<%= link_to 'Back', documents_path, :class => 'btn'  %>
		<% if can? :manage, @document %>
		<%= link_to 'Edit', edit_document_path(@document), :class => 'btn' %>
		<%= link_to 'Delete', document_path(@document), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger'%>
		<% end %>	
	</div>
</div><!--/span6 -->
<%# javascript_include_tag "documents" %>
<%= render "documents/annotator-setup" %>
<%= render "documents/help" %>