<%= content_for :body_id, 'documents' %>
<%= content_for :body_class, 'show' %>
<%= content_for :page_title, @document.title %>
<%= stylesheet_link_tag "documents" %>
<div class="row">
  <div class="col-md-8 w-75" id="my-document-container">
    <% if ! @document.processed? %>
      <%= render 'processed_message' %>
    <% end %>
    <% if @document.survey_link.present? %>
      <%= render 'survey_button' %>
    <% end %>
    <div id="textcontent-container">
      <div id="textcontent" >
        <div id="snapshot">
          <%= @document.text.html_safe %>
        </div>
      </div>
    </div>
  </div><!--/col-md-8 -->
  <div class="col-md-4">
    <% if @document.processed? and !@document.draft? %>
      <%= render "documents/annotation_sidebar" %>
    <% end %>
  </div><!--/col-md-3 -->
</div><!--/row -->
<%= render "documents/help" %>
<%= render "documents/snapshot_progress" %>
<%= render "documents/spinner_modal" %>
<div id="snapshot-staging">

</div>

<%# render "documents/metadata" %>

<script type="text/javascript">
//console.log($("span"));
//var textareaHTML = $("#snapshot").html();
//$(".chapter-bookmark").each(function(){
  //$("#chapter-bookmark-list-group-container").append("<a id='chapter-bookmark-listgroup-" + $(this).attr("id") + "' class='list-group-item list-group-item-action chapter-bookmark-onclick-event'>" + $(this).html() +"</a>");
  //$("#chapter-bookmark-well").append("<button type='button' class='btn btn-info chapter-bookmark-buttons'>" + $(this).html() + "</button>");
//});

//This onclick event scrolls to the bookmark in the #snapshot div
$(".chapter-bookmark-onclick-event").click(function(){
  //formatting parent ID to get the ID of a specific element
  var bookmarkID = $(this).attr("id");
  bookmarkID = bookmarkID.split("-");
  bookmarkID.splice(0,3);
  bookmarkID = "#" + bookmarkID.join("-");//formating to a jquery id
  var bookmarkPosition = $(bookmarkID).position();

  //animates the scrolling to a specific bookmark
  $('#textcontent').scroll();
  $("#textcontent").animate({
    scrollTop: bookmarkPosition.top
  }, 1000);

});

var annotationStudioConfig = {
  enableRichTextEditor: '<%= @enable_rich_text_editor %>',
  tinyMCEToolbar: '<%= @tiny_mce_toolbar %>',
  apiURL: '<%= @api_url %>'
};

<% if !@document.processed? or @document.draft? %>
  $("#rightburger").attr("disabled", true);
<% end %>

$('#annotation-list').slimScroll({
  height: '99%',
  width: '340px',
  alwaysVisible: false,
  allowPageScroll: true,
  disableFadeOut: true
});

$('#textcontent').slimScroll({
  height: '100%',
  width: '100%',
  alwaysVisible: false,
  allowPageScroll: true,
  disableFadeOut: true
});

$('#chapternav').slimScroll({
  height: '90%',
  width: '250px',
  size: '10px',
  position: 'right',
  color: '#ccc',
  distance: '5px',
  alwaysVisible: false,
  allowPageScroll: true,
  disableFadeOut: true
});

$('#my-document-container').height(0.71*($(window).height()));
$("body").css("overflow-y", "hidden");
</script>
