<%= content_for :page_title, @document.title %>
<%= stylesheet_link_tag "documents" %>
<div class="row">
  <div class="col-md-8 col-md-offset-1">
    <div class="page-header">
      <h1 id="doc_title" href="#" data-toggle="popover" data-content="" title=""><%= @document.title %></h1>
    </div>
    <% if ! @document.processed? %>
      <%= render 'processed_message' %>
    <% end %>
    <div id="textcontent">
      <div><!-- Required for cases in which there's no HTML in the text -->
        <%= @document.text.html_safe %>
      </div>
    </div>
  </div><!--/col-md-8 -->
  <div class="col-md-3">
    <% if @document.processed? and ! @document.draft? %>
      <%= render "documents/annotation-sidebar" %>
    <% end %>
  </div><!--/col-md-3 -->
</div><!--/row -->
<%= render "documents/help" %>
<div id="spinnermodal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="spinnermodallabel" aria-hidden="true">
  <div class="modal-body" id="spinnerdiv"><em>Loading annotations...</em></div>
</div>
<%= render "documents/metadata" %>
