<%= content_for :page_title, @document.title %>
<%= stylesheet_link_tag "documents" %>
<div class="row">

  <div class="col-md-8 col-md-offset-1">
    <div class="page-header">
      <h1 id="doc_title" href="#" data-toggle="popover" data-content="" title=""><%= @document.title %></h1>
    </div>
    <% if ! @document.processed? %>
      <%= render 'processed_message' %>
    <% end %>
    <div id="textcontent">
      <div><!-- Required for cases in which there's no HTML in the text -->
        <%= @document.text.html_safe %>
      </div>
    </div>
  </div><!--/col-md-8 -->
  <div class="col-md-3">
    <% if @document.processed? and ! @document.draft? %>
      <%= render "documents/annotation-sidebar" %>
    <% end %>
  </div><!--/col-md-3 -->
</div><!--/row -->
<%= render "documents/help" %>
<div id="spinnermodal" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="spinnermodallabel" aria-hidden="true">
  <div class="modal-body" id="spinnerdiv"><em>Loading annotations...</em></div>
</div>

<script type="text/javascript" charset="utf-8">
  if ("<%= @document.state %>" === "draft") {
    statusMessage = '<i class="fa fa-pencil"></i> Draft';
  }
  else if ("<%= @document.state %>" === "published") {
    statusMessage = '<i class="fa fa-ok"></i> Published';
  }
  else if ("<%= @document.state %>" === "deleted") {
    statusMessage = '<i class="fa fa-folder-close"></i> Archived';
  };

  var docMetaInfo = "";
  docMetaInfo = docMetaInfo + "<li>Status: " + statusMessage;
  if ("<%= @document.author %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Author: <%= @document.author %></li>";
  }
  if ("<%= @document.publisher %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Publisher: <%= @document.publisher %></li>";
  }
  if ("<%= @document.publication_date %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Publication date: <%= @document.publication_date %></li>";
  }
  if ("<%= @document.edition %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Edition: <%= @document.edition %></li>";
  }
  if ("<%= @document.source %>" != "") {
    docMetaInfo = docMetaInfo + "<li>Source: <%= @document.source %></li>";
  }
  if (docMetaInfo != "") {
    docMetaInfo = "<ul>"+ docMetaInfo + "</ul>";
  }
  $('#doc_title').popover({
    'html': 'true',
    'placement': 'bottom',
    'trigger': 'hover',
    'title': "Additional information",
    'content': docMetaInfo === "" ? "None at this time" : docMetaInfo,
  });
</script>
