<div class="span8">
	<h1><%= @document.title %></h1>

	<div id="textcontent">
	<div>
		<%= @document.description.html_safe %>
	</div>
	</div>

	<div class="form-actions">
	  <%= link_to 'Back', collection_documents_path, :class => 'btn'  %>
	  <%= link_to 'Edit', edit_collection_document_path(@collection, @document), :class => 'btn' %>
	  <%= link_to 'Delete', collection_document_path(@collection, @document), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
	</div>
</div><!--/span8 -->
<div class="span4">
	<div class="well sidebar-nav sidebar-nav-fixed">
		<h3>Annotations</h3>
		<%= render "documents/annotation_list" %>
		</div><!--/well -->
</div><!--/span4 -->
