<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "catalog", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "tiny_mce_popup" %>
</head>
<body>

<div class="container-fluid catalog-container">

  <div class="col-lg-8">
    <form class="form-horizontal">

        <div class="form-group">
           <div class="input-group">
             <input id="search-term" class="form-control" type="text" value="<%= @search_term %>"/>
             <span class="input-group-btn">
                <button id="search-button" class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button>
                <% if ( @search_term.empty? == false ) || ( @search_tags.empty? == false ) %>
                   <a href="/documents/catalog" class="btn btn-default" type="button">Clear</a>
                <% end %>
             </span>
           </div>
        </div>

        <div class="form-group">
          <div class="btn-group btn-group-xs" data-toggle="buttons">
            <label id="search-both-label"class="btn btn-primary">
              <input id="search-both" type="radio" name="options" autocomplete="off" checked>Both
            </label>
            <label id="search-people-label" class="btn btn-primary">
              <input id="search-people" type="radio" name="options" autocomplete="off">People
            </label>
            <label id="search-artwork-label" class="btn btn-primary">
              <input id="search-artwork" type="radio" name="options" autocomplete="off">Artwork
            </label>
          </div>
        </div>

    </form>
  </div>

  <div class="col-lg-8">

    <div class="form-group">
      <div class="browse-panel pull-left">
        <label for="tag-tree"><span style="text-decoration: underline;">Browse:</span></label>
        <div id="tag-tree"></div>
      </div>
    </div>

      <div class="results-panel pull-right scrollable">

        <table id="people-results" class="table table-striped table-hover table-condensed">
          <thead>
            <tr><th><span style="text-decoration: underline;">People:</span></th><th>Name</th><th>Birth</th><th>Death</th></tr>
          </thead>
          <% unless @search_results[:person].nil? %>
          <tbody data-link="row" class="rowlink">
             <% @search_results[:person].each do | entry | %>
              <tr><td>
                <% if has_images( entry['images'] ) %>
                    <%= thumbnail_or_nothing entry['images'] %>
                <% else %>
                  <span class="glyphicon glyphicon-user"></span>
                <% end %>
              </td><td><a id="<%= entry['eid'] %>" class="clickable" title="<%= tagset_display( entry['name'], true ) %>" ref="<%= entry['image_thumb'] %>"><%= tagset_display( entry['name'], true ) %></a></td><td><%= entry['birth'] %></td><td><%= entry['death'] %></td></tr>
             <% end %>
          </tbody>
          <% end %>
        </table>

        <table class="table table-striped table-hover table-condensed">
          <thead>
             <tr><th><span style="text-decoration: underline;">Artworks:</span></th><th>Title</th><th>Artist</th></tr>
          </thead>
          <% unless @search_results[:artwork].nil? %>
          <tbody data-link="row" class="rowlink">
            <% @search_results[:artwork].each do | entry | %>
               <tr><td>
                 <% if has_images( entry['images'] ) %>
                     <%= thumbnail_or_nothing entry['images'] %>
                 <% else %>
                     <span class="glyphicon glyphicon-picture"></span>
                 <% end %>
               </td><td><a id="<%= entry['eid'] %>" class="clickable" title="<%= tagset_display( entry['title'], true ) %>" ref="<%= entry['image_thumb'] %>"><%= entry['title'] %></a></td><td><%= tagset_display( entry['artist'], true ) %></td></tr>
            <% end %>
          </tbody>
          <% end %>
        </table>

      </div>

  </div>
</div>

<script type="text/javascript">

    $('document').ready(function( ) {

        //
        // setup correct search radio buttons
        //
        <% if ( @search_types.include? :person ) && ( @search_types.include? :artwork ) %>
           $('#search-both').prop('checked', true);
           $('#search-both-label').addClass( "active")
        <% elsif @search_types.include? :person %>
           $('#search-people').prop('checked', true);
           $('#search-people-label').addClass( "active")
        <% elsif @search_types.include? :artwork %>
           $('#search-artwork').prop('checked', true);
           $('#search-artwork-label').addClass( "active")
        <% end %>

        // enable the tree view
        $('#tag-tree').treeview( { data: getTagTree( ), levels: 0, highlightSelected: true, nodeIcon: '', showTags: true, enableLinks: false } );

        // select a tag if we did a search by tag
        //selectTreeTag( '<%#= @search_tags %>' )

        // search button handler
        $("#search-button").click(function() {
            var term = $('#search-term').val( );
            var include_people = $('#search-people').prop('checked') || $('#search-both').prop('checked' );
            var include_artwork = $('#search-artwork').prop('checked') || $('#search-both').prop('checked' );
            newSearch( term, include_people, include_artwork );
        });

        // any of the results we found
        $(".clickable").click(function() {
            // the eid and the entry title separated with a pipe character
            var title = $(this).attr( "title" ).length === 0 ? "no title" : $(this).attr( "title");
            storeDetails( $(this).attr( "id") + "|" + title + "|" + $(this).attr( "ref") );

            // close the window...
            tinyMCEPopup.close( );
        });

        // when we select a tag
        $('#tag-tree').on('nodeSelected', function(event, node) {
            //event.preventDefault( );
            if( node.href ) {
                var newUrl = node.href;
                <% if @search_term.empty? == false %>
                   newUrl = newUrl + "&term=" + encodeURI( '<%= @search_term %>' );
                <% end %>
                document.location.href = newUrl;
            }
        });

    });

    // doing a new search in the same frame
    function newSearch( term, include_people, include_artwork ) {
        var include = "";
        if( include_people ) { include = "people"; }
        if( include_artwork ) { include = ( include ? include + "," : "" ) + "artwork"; }
        var newUrl = "/documents/catalog?term=" + encodeURI( term ) + "&onlyimages=<%= @onlyimages %>" + ( include ? "&types=" + include : "" );
        <% if @search_tags.empty? == false %>
           newUrl = newUrl + "&search_tags=" + encodeURI( '<%= @search_tags %>' );
        <% end %>
        document.location.href = newUrl;
    }

    // store the inserted item off so it is available to our parent (the opener)
    function storeDetails( reference ) {
       var parent = tinyMCEPopup.getWin( );
       var div = parent.jQuery('div')[ 0 ];
       parent.jQuery.data( div, "catalog", reference );
    }

    // select a particular item in the tree
    function selectTreeTag( tag ) {

        //var el = $('.click-expand').eq(1);
        //el.trigger('click');

        var tokens = tag.split("|")
        if (tokens.length == 2) {
            var titles = $('.list-group-item > a');
            for (var ix = 0; ix < titles.length; ix++) {
               if (titles[ix].text == tokens[0]) {
                   //alert( "found " + tokens[0] + " at " + ix);
                   $('.list-group-item > i').eq( ix * 2 ).trigger('click');
                   //alert( i )
                   break;
                    //els[ ix ].css( "background-color", "red" );
                    //if( els[ ix ].text == tokens[ 0 ] ) {
                    //    els[ ix ].color = "#FF0000";
                    //    els[ ix ].trigger('click');
                    //    break;
                }
            }
        }
    }

    //
    // the tree view needs an array of json objects. Something like:
    //
    // [ { text: "Parent 1", nodes:
    //    [
    //      { text: "Child 1.1" }
    //    ] },
    //    { text: "Parent 2", nodes:
    //    [
    //      { text: "Child 2.1" }
    //    ] },
    //    { text: "Parent 3", nodes:
    //    [
    //      { text: "Child 3.1" },
    //      { text: "Child 3.2" }
    //    ] }
    // ]
    function getTagTree( ) {

        // build a list of entry ID's to constrain the tag search
        <% eid_list = [] %>
        <% [:artwork, :person].each do | t | %>
           <% if @search_results[t].nil? == false %>
              <% @search_results[t].each do | r | %>
                 <% eid_list.push( r['eid'] ) %>
              <% end %>
           <% end %>
        <% end %>

        // if our entry ID list is empty and we have no current search term, get all the tags
        <% if eid_list.empty? && @search_term.empty? %>
           var json_str = "<%= JSON.generate( Melcatalog.tags_by_entry_type( [:artwork.to_s, :person.to_s] ) ) %>";
        <% else %>
           <% eid_list.push( "none" ) if eid_list.empty? %>
           var json_str = "<%= JSON.generate( Melcatalog.tags_by_entry_id( eid_list ) ) %>";
        <% end %>

        json_str = json_str.replace(/&quot;/g, '"');
        return( jQuery.parseJSON( json_str ) );
    }
</script>

</body>