<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%#= javascript_include_tag "application" %>
</head>
<body>

<div id="catalog-reference-container">
  <h3 class="indent bottom-border">A Person From The Melville Electronic Library</h3>

  <table class="table table-striped table-bordered">
    <tbody>
    <!-- do each field -->
    <% ['name', 'surname', 'forename', 'role', 'additional_name_info', 'birth', 'death', 'nationality', 'education'].each do |field| %>
        <tr><td><%= field.humanize %></td><td><%= @entry[field] %></td></tr>
    <% end %>

    <!-- then the image -->
    <tr><td>Image</td><td><%= image_display @entry['image_thumb'] %></td></tr>
    </tbody>
  </table>

</div>

<!--
<script type="text/javascript">
    $('document').ready(function( ) {
    });
</script>
-->

</body>