<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "catalog", :media => "all" %>
</head>
<body>

<div class="container-fluid">

  <div class="panel panel-info catalog-container">
    <div class="panel-heading"><h3 class="panel-title"><%= title %></h3></div>

    <div class="panel-body">

             <%= image_or_nothing( entry['images'], 'image_medium' ) %>

             <% fieldlist.each do |field| %>

                 <% str = "" %>
                 <% case field %>
                 <% when "affiliation" %>
                     <% entry[field].each do |affiliation| %>
                         <% str += "#{affiliation['affiliation']}, #{affiliation['affiliation_type']}, #{affiliation['subtype']}, #{affiliation['role']}, #{affiliation['from']}, #{affiliation['to']} " %>
                     <% end %>
                 <% when 'nationality' %>
                     <% entry[field].each do |nationality| %>
                         <% str += "#{nationality['nationality']}, #{nationality['from']}, #{nationality['to']} " %>
                     <% end %>
                 <% when 'occupation' %>
                     <% entry[field].each do |occupation| %>
                         <% str += "#{occupation['occupation']}, #{occupation['from']}, #{occupation['to']} " %>
                     <% end %>
                 <% when 'see_also' %>
                     <% entry[field].each do |see_also| %>
                       <% str += "#{see_also['description']}, #{see_also['url']} " %>
                     <% end %>
                 <% when 'references' %>
                     <% entry[field].each do |reference| %>
                         <% str += "#{reference['domain']}, #{reference['created_by']}, #{reference['cited_in']} " %>
                     <% end %>
                 <% else %>
                     <% str = tagset_display entry[field] %>
                 <% end %>

                 <% if str.blank? == false %>
                    <div class="form-group">
                      <label for="<%= field.downcase %>"><%= field.humanize %></label>
                      <input type="text" class="form-control" id="<%= field.downcase %>" value="<%= str %>" readonly="true">
                    </div>
                 <% end %>

             <% end %>

    </div>
  </div>

</div>

</body>