<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "catalog", :media => "all" %>
</head>
<body>

<div class="container-fluid">

  <div class="panel panel-info catalog-container">
    <div class="panel-heading"><h3 class="panel-title"><%= title %></h3></div>

    <div class="panel-body">

             <%= image_or_nothing( entry['images'], 'image_medium' ) %>

             <% fieldlist.each do |field| %>

                 <% str = "" %>
                 <% lines = [] %>
                 <% case field %>
                 <% when "affiliation" %>
                     <% entry[field].each_with_index do |affiliation, ix| %>
                         <% lines[ix] = "#{affiliation['affiliation']} [#{affiliation['affiliation_type']}/#{affiliation['subtype']}] #{affiliation['role']} (#{affiliation['from']} to #{affiliation['to']})" %>
                     <% end %>
                 <% when 'nationality' %>
                     <% entry[field].each_with_index do |nationality, ix| %>
                         <% lines[ix] = "#{nationality['nationality']} (#{nationality['from']} to #{nationality['to']})" %>
                     <% end %>
                 <% when 'occupation' %>
                     <% entry[field].each_with_index do |occupation, ix| %>
                         <% lines[ix] = "#{occupation['occupation']} (#{occupation['from']} to #{occupation['to']})" %>
                     <% end %>
                 <% when 'see_also' %>
                     <% entry[field].each_with_index do |see_also, ix| %>
                       <% lines[ix] = "<a href='#{see_also['url']}'>#{see_also['description']}</a>" %>
                     <% end %>
                 <% when 'references' %>
                     <% entry[field].each_with_index do |reference, ix| %>
                         <% lines[ix] = "<a href='#{reference['uri']}'>referenced by #{reference['created_by']} in #{reference['cited_in']} on #{reference['created_at']}</a>" %>
                     <% end %>
                 <% else %>
                     <% str = tagset_display entry[field] %>
                     <% if str.blank? == false %>
                        <div class="form-group">
                           <label for="<%= field.downcase %>"><%= field.humanize %></label>
                           <input type="text" class="form-control" id="<%= field.downcase %>" value="<%= str %>" readonly="true">
                        </div>
                     <% end %>
                 <% end %>

                 <% if lines.empty? == false %>
                   <div class="form-group">
                     <label for="<%= field.downcase %>" class="control-label"><%= field.humanize %></label>
                     <ul class="list-group">
                       <% lines.each do |line| %>
                           <li class="list-group-item"><%= raw( line ) %></li>
                       <% end %>
                     </ul>
                   </div>
                 <% end %>

             <% end %>

    </div>
  </div>

</div>

</body>
