<%- if devise_mapping.omniauthable? %>
	<ul class="list-group" id="omniauth-links">
	  <%- resource_class.omniauth_providers.each do |provider| %>
	  <li class="list-group-item"><%= link_to "Log in through #{I18n.t provider.to_sym, scope: [:devise, :omniauth]}", root_url(:protocol => "http").gsub(/\/$/, "") + omniauth_authorize_path(resource_name, provider), :class => "btn btn-default" %></li>
	  <% end -%>

	  <li class="list-group-item"><a id="manual-login-toggle" href="#manual-login">Not a NAVSA member?</a></li>
	</ul>
	<div id="manual-login">
<% end -%>

<div class="well devise">

	<h4>Log in</h4>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => "form"}) do |f| %>
		<%= devise_error_messages! %>

		<div class="form-group">
			<%= f.label :email %>
			<%= f.email_field :email, :class => "form-control" %>
		</div>

		<div class="form-group">
			<%= f.label :password %>
			<%= f.password_field :password, :class => "form-control" %>
		</div>

		<div><%= f.submit "Log in", :class => "btn btn-default btn-default-primary" %></div>

	<% end %>
</div><!--/well -->
<%= render "/devise/links" %>

<%- if devise_mapping.omniauthable? %>
	</div>
<% end -%>
