<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => "form-horizontal"}) do |f| %>
<%= devise_error_messages! %>
<fieldset>
<legend>Sign in</legend>
	<div class="control-group">
	  <%= f.label :email, :class => "control-label" %>
	  <div class="controls">
		<%= f.email_field :email %>
	  </div>

	  <%= f.label :password, :class => "control-label" %>
	  <div class="controls">
	  	<%= f.password_field :password %>
	  </div>

	  <% if devise_mapping.rememberable? -%>
	      <div class="controls">
			<%= label_tag :remember_me, :class => "checkbox", do %>
				<%= f.check_box :remember_me %> Remember me
			<% end %>
		  </div>
	  <% end -%>

	  <div class="controls">
		  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
	  </div>
	</div>
</fieldset>
<% end %>
<%= render "links" %>