<%= content_for :body_id, 'sessions' %>
<%= content_for :body_class, 'new' %>
<%= content_for :page_title, "Sign in" %>
<div class="row">
  <div class="col-md-12" id="blurb">
      <% if ENV["GLOBAL_ALERT"] != "" %>
      <div class="alert alert-<%= ENV["ALERT_LEVEL"] %>">
        <%= ENV["GLOBAL_ALERT"] %>
      </div>
      <% end %>
  </div>
</div>
<div class="row">
  <div class="col-md-8" id="blurb">
    <p>
      <legend>
        Annotation Studio is a web application that supports close reading and collaborative interpretation of online documents. <a href="/users/sign_up">Register</a> and <a href="/users/sign_in">sign in</a> to try it out.
      </legend>
    </p>
    <%= render "techreqs" %>
  </div>
	<div class="col-md-4" id="login">
      <div class="well">
  		<h4>Sign in</h4>
    		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => "form"}) do |f| %>
	     	<%= devise_error_messages! %>

        <div class="form-group">
				<%= f.label :email %>
				<%= f.email_field :email, :class => "form-control" %>
				</div>

        <div class="form-group">
				<%= f.label :password %>
				<%= f.password_field :password, :class => "form-control" %>
				</div>

				<% if devise_mapping.rememberable? -%>
        <div class="checkbox">
          <%= label_tag :remember_me do %><%= f.check_box :remember_me %> Remember me <% end %>
        </div>
        <% end %>

				<div><%= f.submit "Sign in", :class => "btn btn-default btn-default-primary" %></div>

    		<% end %>
      </div><!--/well -->
      <%= render "links" %>
	</div><!--/col -->
</div><!--/row -->
