<div class="span8" id="blurb">
	<p>
		<legend>
			<% if Rails.env.public? %>
				Annotation Studio is a web application that supports close reading and collaborative interpretation of online documents. It's designed primarily for use by students of the humanities. <a href="http://www.annotationstudio.org/">Learn more here</a>, or <a href="/users/sign_up">register</a> and <a href="/users/sign_in">sign in</a> to try it out.
			<% elsif Rails.env.development? %>
				Welcome to Annotation Studio, a tool to support close reading and collaborative interpretation of online documents. <a href="/users/sign_up">Register</a> and <a href="/users/sign_in">sign in</a> to use it, or <a href="http://www.annotationstudio.org/">click here</a> to learn more.
			<% elsif Rails.env.staging? %>
				Annotation Studio is a web application that supports close reading and collaborative interpretation of online documents. It's designed primarily for use by students of the humanities. <a href="http://www.annotationstudio.org/">Learn more here</a>, or <a href="/users/sign_up">register</a> and <a href="/users/sign_in">sign in</a> to try it out.
			<% elsif Rails.env.production? %>
				Welcome to Annotation Studio, a tool to support close reading and collaborative interpretation of online documents. <a href="/users/sign_up">Register</a> and <a href="/users/sign_in">sign in</a> to use it, or <a href="http://www.annotationstudio.org/">click here</a> to learn more.
			<% end %>
		</legend>
	</p>
	<div class="alert alert-info">
		<p><strong>Technical Requirements</strong></p>
		<p>Annotation Studio has been designed and built using features of Javascript, CSS and HTML that are only available in very recent versions of the most common major web browsers. 
			The following are all free and run on all major computer operating systems:
			<ul>
				<li><a href="https://www.google.com/intl/en/chrome/browser/"><strong>Chrome 25</strong></a></li>
				<li><a href="http://support.apple.com/downloads/#safari" target="_blank"><strong>Safari 5 and 6</strong></a></li>
				<li><a href="http://www.mozilla.org/en-US/firefox/new/" target="_blank"><strong>Firefox 19</strong></a></li>
			</ul>
			</p>
		<p>We recommend you use Chrome, but any of those choices should be fine. There are many other browsers on which Annotation Studio will not work at all.</p>
		<p>Also, be sure that javascript is enabled in your browser, and that if you have virus scanning software, it is not blocking javascript.</p>
		<p>We are experimenting with support for iOS and Android smartphone and tablet browsers, but support for those platforms is not yet mature.</p>
	</div>
</div>
<div class="span4" id="login">
	<div class="alert">
	<% if Rails.env.public? %>
		This is the public demo of Annotation Studio. MIT affiliates should go <a href="http://annotationstudio.mit.edu/"><strong>here</strong></a>.
	<% elsif Rails.env.development? %>
		This is the development version of Annotation Studio.
	<% elsif Rails.env.staging? %>
		This is the staging site for Annotation Studio. MIT affiliates should go <a href="http://annotationstudio.mit.edu/"><strong>here</strong></a> instead. Affiliates of other institutions and the general public should go <a href="http://app.annotationstudio.org/"><strong>here</strong></a> instead.
	<% elsif Rails.env.production? %>
		This is the internal MIT instance of Annotation Studio. Non-MIT affiliates should go <a href="http://app.annotationstudio.org/"><strong>here</strong></a> instead.
	<% end %>
	</div>
	<h4>Sign in</h4>
	<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
	<%= devise_error_messages! %>
	<fieldset>
		<div class="control-group well">
		  <%= f.label :email, :class => "control-label" %>
		  <div class="controls">
			<%= f.email_field :email %>
		  </div>

		  <%= f.label :password, :class => "control-label" %>
		  <div class="controls">
		  	<%= f.password_field :password %>
		  </div>

		  <% if devise_mapping.rememberable? -%>
		      <div class="controls">
				<%= label_tag :remember_me, :class => "checkbox" do %>
					<%= f.check_box :remember_me %> Remember me
				<% end %>
			  </div>
		  <% end -%>

		  <div class="controls">
			  <div><%= f.submit "Sign in", :class => "btn btn-primary" %></div>
		  </div>

			<div class="controls">
			<%= render "links" %>
			</div>

		</div>
	</fieldset>
	<% end %>
</div>
