<div class="row">
  <% @myDocs.each do |doc| %>

    <div class= "column" > 
      <span class="title"><%= link_to doc.title, document_path(id: doc.id) %> </span>
      <div class="h_line"></div>
       

        <div class="tile-content"> 


        <% if doc.author != "" && doc.author %>
        Author: <%= doc.author  %> <br>
        <%end%>
      
      <% if doc.publication_date && doc.publication_date != "" %>
        Date: <%= doc.publication_date %> <br> 
      <% end %>

      <% if !doc.groups.empty? %> 
       Groups: <%= doc.groups.pluck(:name).join(", ") %> <br>
       <% end %>

       Status: 
       <span id="status-icon"> 
        <% case doc.state %>
          <% when 'draft' %>
            <i class="glyphicon glyphicon-pencil" title="<%= doc.state %>"></i>
          <% when 'published' %>
            <i class="glyphicon glyphicon-comment" title="<%= doc.state %>"></i>
          <% when 'archived' %>
            <i class="glyphicon glyphicon-folder-close" title="<%= doc.state %>"></i>
          <% when 'public' %>
            <i class="glyphicon glyphicon-globe" title="<%= doc.state %>"></i>
          <% else %>
            <%= doc.state %>
          <% end %>
       </span> 
  
     </div> <!-- tile-content-->

       <br>

       <button class="editButton" ><%= link_to "Edit", controller: "documents", action: "edit", id: doc.id %> </button>

       



    </div> <!-- end column -->

    <!-- change badge color if new doc since last login.  -->
  <% end %> <!-- end doc loop -->
  </div>  <!-- end row -->

  <center><div class='pagination-controls flex-wrap' ">
      <%= will_paginate @myDocs, renderer: BootstrapPagination::Rails %>
  </div></center>