<%= content_for :page_title, "Annotations" %>
<%= content_for :body_id, 'annotations' %>
<%= content_for :body_class, 'index' %>
<%= stylesheet_link_tag "annotations" %>
<%= render "shared/backbone_libraries" %>
<%= javascript_include_tag "widget" %>
<script type="text/javascript">
  jQuery(function ($) {
    var widget = new Widget.App();
    var endpoint = '<%= ENV["API_URL"] %>';
    var token = '<%= session["jwt"] %>';
    // Backbone.history.start({pushState: true, root: window.location})

    var myLoadOptions = {
      'limit': 100,
      'groups': "<%= current_user.rep_group_list %>".split(/, /),
      'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
      'host': location.host,
      'user': "<%= current_user.email %>",
      'mode': 'user',
      'context': 'dashboard',
    };
    var classLoadOptions = {
      'limit': 100,
      'groups': "<%= current_user.rep_group_list %>".split(/, /),
      'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
      'host': location.host,
      'user': "<%= current_user.email %>",
      'mode': 'class',
      'context': 'dashboard',
    };
    var groupLoadOptions = {
      'limit': 100,
      'groups': "<%= current_user.rep_group_list %>".split(/, /),
      'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
      'host': location.host,
      'user': "<%= current_user.email %>",
      'mode': 'group',
      'context': 'dashboard',
    };

    widget.listAnnotations('my-annotation-list', myLoadOptions, endpoint, token);
    widget.listAnnotations('class-annotation-list', classLoadOptions, endpoint, token);
    widget.listAnnotations('group-annotation-list', groupLoadOptions, endpoint, token);
  });
</script>
<script type="text/template" id="user-comment-template">
  <span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a>&raquo; {{quote}}</span>
</script>
<script type="text/template" id="user-highlight-template">
  <span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
</script>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default" id="dashboard-documents">
      <div class="panel-heading">
        <span class="panel-title">Annotations</span>
        <ul class="nav nav-tabs nav-tabs-xs pull-right" id="annotation-tabs" role="tablist">
          <li class="active"><a href="#mine" data-toggle="tab"><span class="badge"></span> Mine</a></li>
          <li><a href="#teams" data-toggle="tab"><span class="badge"></span> Teams</a></li>
          <li><a href="#groups" data-toggle="tab"><span class="badge"></span> Groups</a></li>
        </ul>
      </div><!-- / .panel-heading -->
        <div class="tab-content">
          <div class="tab-pane no-padding fade active in" id="mine">
            <ul id="my-annotation-list" class="list-group"></ul>
          </div>
          <div class="tab-pane no-padding fade in" id="teams">
            <ul id="group-annotation-list" class="list-group"></ul>
          </div>
          <div class="tab-pane no-padding fade in" id="groups">
            <ul id="class-annotation-list" class="list-group"></ul>
          </div>
        </div>
     </div><!--/panel -->
	</div><!--/col-md-12 -->
</div><!--/row -->
