<style type="text/css" media="screen">
.user-highlight {
	font-style: italic;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:hover {
	background-color: rgb(238, 238, 238);
}
.tab-pane {
/*	border-right: 1px solid #ddd;
	border-left: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
*/}

/*.nav-tabs {
	border-bottom: 1px solid #eee;
}
.nav {
	margin-bottom:0;
}
*/
#annotation-list li {
	margin:0 8px;
	padding: 8px;
	border-bottom: 1px solid #ddd;
}
#annotation-list {
	border: 1px solid #dddddd;
	border-collapse: separate;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
}



</style>
<%= javascript_include_tag "filter" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
	var filter = new Filter.App();
	var endpoint = '<%= ENV["API_URL"] %>';
	var token = '<%= @jwt %>';
	// Backbone.history.start({pushState: true, root: window.location})

	var loadOptions = {
		'limit': 200,
		// 'groups': "<%= current_user.rep_group_list %>".split(/, /),
		// 'subgroups': "<%= current_user.rep_subgroup_list %>".split(/, /),
		'host': location.host,
		'user': "<%= current_user.email %>",
		'mode': 'user',
		'context': 'search',
	};
	filter.listAnnotations(loadOptions, endpoint, token);
});

</script>

<div class="row">
	<div class="span12">
		<h1>Annotations</h1>
	</div><!--/span12 -->
</div><!--/row -->
<div class="row">
	<div class="span12">
		<div id="visual_search"></div>
		<div id="search_query"></div>

		<script type="text/javascript" charset="utf-8">
		  $(document).ready(function() {
		    var visualSearch = VS.init({
		      container : $('#visual_search'),
	          query      : 'user: "jfolsom@mit.edu" group: "1" tag:"a"',
	          showFacets : true,
	          unquotable : [
	            'user',
	            'group',
	            'tag'
	          ],
			callbacks  : {
	            search : function(query, searchCollection) {
	              var $query = $('#search_query');
	              var count  = searchCollection.size();
	              $query.stop().animate({opacity : 1}, {duration: 300, queue: false});
	              $query.html('<span class="raquo">&raquo;</span> You searched for: ' +
	                          '<b>' + (query || '<i>nothing</i>') + '</b>. ' +
	                          '(' + count + ' facet' + (count==1 ? '' : 's') + ')');
	              clearTimeout(window.queryHideDelay);
	              window.queryHideDelay = setTimeout(function() {
	                $query.animate({
	                  opacity : 0
	                }, {
	                  duration: 1000,
	                  queue: false
	                });
	              }, 2000);
	            },
	            facetMatches : function(callback) {
	              callback([
	                'user', 'group', 'tag'
	              ]);
	            },
	            valueMatches : function(facet, searchTerm, callback) {
	              switch (facet) {
	              case 'user':
	                  callback([
	                    { value: 'jfolsom@mit.edu', label: 'Jamie' },
	                    { value: 'fendt@mit.edu', label: 'Kurt' },
	                    { value: 'wkelley@mit.edu', label: 'Wyn' },
	                  ]);
	                  break;
	                case 'group':
	                  callback(['1', '2', '3']);
	                  break;
	                case 'tag':
	                  callback(['a', 'b', 'c']);
	                  break;
	              }
	            }
	          }
		    });
		  });
		</script>

		<div class="tab-content">
			<ul id="annotation-list" class="unstyled">
				<script type="text/template" id="user-comment-template">
					<span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a></span>
				</script>
				<script type="text/template" id="user-highlight-template">
					<span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
				</script>
			</ul>
		</div>
	</div><!--/span12 -->
</div><!--/row -->