<%= content_for :page_title, "Annotation" %>
<%= javascript_include_tag "widget" %>
<script type="text/javascript" charset="utf-8">
jQuery(function ($) {
    var widget = new Widget.App();
    var endpoint = location.protocol+'//'+'<%= ENV["API_URL"] %>';
    var token = '<%= session["jwt"] %>';

    var loadOptions = {
        'limit': 20,
        'host': location.host,
        'user': "<%= current_user.email %>",
        'mode': 'user',
        'context': 'dashboard',
    };
    widget.listAnnotations(loadOptions, endpoint, token);
});

</script>

<div class="row">
    <div class="col-md-12">
        <h1>Annotations</h1>
    </div><!--/col-md-12 -->
</div><!--/row -->
<div class="row">
    <div class="col-md-12">
        <ul class="nav nav-tabs" id="document-tabs">
          <li class="active"><a href="#mine" data-toggle="tab"><span class="badge"></span> Mine</a></li>
          <li><a href="#team" data-toggle="tab"><span class="badge"></span> Teams</a></li>
          <li><a href="#group" data-toggle="tab"><span class="badge"></span> Groups</a></li>
        </ul>

        <div class="tab-content">
            <div class="tab-pane active" id="mine">
                <ul id="annotation-list" class="unstyled">
                    <script type="text/template" id="user-comment-template">
                        <span class="user-comment"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{text}}}</a></span>
                    </script>
                    <script type="text/template" id="user-highlight-template">
                        <span class="user-highlight"><a href="{{uri}}#hl{{uuid}}" target="_blank">{{{quote}}}</a></span>
                    </script>
                </ul>
            </div>
        </div>
    </div><!--/col-md-4 -->
</div><!--/row -->
