<!-- rendered in dashboard(users/show.html.erb) -->

<!-- overlay for create group -->
  <div class="banner"> <i class="glyphicon glyphicon-remove close" onclick="hide()"></i>
     Create a New Group</div>
  
  <div class="form" >
    <%= form_for Group.new do |f| %>
      <%= f.label :group, 'Name' %>
      <%= f.text_field :name %>

      <%= f.hidden_field :owner_id, value: current_user.id %>

      <%= f.submit 'Submit', class: "redButton"%>

  <% end %>
    <span class="help-block" style="font-size:10px">Once you have created a name, you can eit your group in Group Management. </span>
  </div>



