<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title><%= yield(:page_title) %> :: Annotation Studio :: <%= ENV["ENVIRONMENT_TAG"] %></title>
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <meta name="robots" content="noindex">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="google-site-verification" content="<%= ENV["GOOGLE_VERIFICATION_CODE"] %>" />
    <link href="/favicon.ico" rel="shortcut icon" />
    <%= javascript_include_tag "application" %>
</head>
<body id="<%= yield(:body_id) %>" class="<%= yield(:body_class) %>">

    <div class="navmenu navmenu-inverse navmenu-fixed-left offcanvas-lg" id="mainmenu">
      <%= render "#{params[:controller]}/leftnav" %>
    </div>

    <div class="navmenu navmenu-inverse navmenu-fixed-right offcanvas-lg" id="toolsmenu">
      <%= render "#{params[:controller]}/rightnav" %>
    </div>

    <nav class="navbar navbar-default navbar-fixed-top" id="navbar">
      <div class="container">
        <a class="navbar-brand" href="#">Annotation Studio</a>
        <%= render "shared/user_menu" %>
      </div>
    </nav>

    <nav class="navbar navbar-default navbar-fixed-top hidden-xs" id="lower-navbar">
      <div class="container">
        <button type="button" class="navbar-toggle" data-toggle="offcanvas" data-recalc="false" data-target="#mainmenu" id="leftburger" title="Navigation"><i class="fa fa-bars"></i></button>
        <%= render "shared/breadcrumbs" %>
        <button type="button" class="navbar-toggle pull-right" data-toggle="offcanvas" data-recalc="false" data-target="#toolsmenu" id="rightburger" title="Tools"><i class="fa fa-gears"></i></button>
      </div>
    </nav>

    <div class="container">
      <%= render partial: "shared/noscript" %>
      <%= render partial: "shared/flash_messages", flash: flash %>
      <%= yield %>
    </div><!-- /.container -->

    <div class="footer navbar-fixed-bottom">
      <div class="container">
        <p class="text-muted">&copy; <%= Time.now.year %> <a class="logo" href="http://web.mit.edu/" target="_blank"><img src="/assets/logo_mit.png"></a> <a class="logo" href="http://hyperstudio.mit.edu/" target="_blank"><img src="/assets/hs-logo-trans-horiz.png"></a> <a class="logo" href="http://www.neh.gov/divisions/odh" target="_blank"><img src="/assets/neh_at_logo.png"></a></p>
      </div>
    </div>

    <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', '<%= ENV["GOOGLE_ANALYTICS_CODE"] %>']);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
    </script>
    <script type="text/javascript">
    $('#lower-navbar').affix({
      offset: {top: 50}
    });
    $('#mainmenu').offcanvas({
      disableScrolling: false,
      autohide: false,
    })
    $('#toolsmenu').offcanvas({
      disableScrolling: false,
      autohide: false,
    })
    </script>
</body>
</html>
