<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title><%= ENV["ENVIRONMENT_TAG"] %> :: Annotation Studio :: MIT Hyperstudio</title>
		<%# include_gon(:namespace => 'serverExports') %>
	
		<!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
		<!--[if lt IE 9]>
			<script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		 <%= csrf_meta_tags %>

		 <%= stylesheet_link_tag	"application", :media => "all" %>

		 <meta name="robots" content="noindex">
		 <meta name="viewport" content="width=device-width, initial-scale=1.0">
		 <meta name="google-site-verification" content="<%= ENV["GOOGLE_VERIFICATION_CODE"] %>" />
	
		<!-- Le fav and touch icons -->
		<link href="/favicon.ico" rel="shortcut icon" />
		<!-- <link href="images/apple-touch-icon.png" rel="apple-touch-icon" /> -->
		<!-- <link href="images/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72" /> -->
		<%# link href="images/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114" %>
		<%= javascript_include_tag "application" %>
	
		<!-- start Mixpanel --><script type="text/javascript">(function(c,a){window.mixpanel=a;var b,d,h,e;b=c.createElement("script");b.type="text/javascript";b.async=!0;b.src=("https:"===c.location.protocol?"https:":"http:")+'//cdn.mxpnl.com/libs/mixpanel-2.1.min.js';d=c.getElementsByTagName("script")[0];d.parentNode.insertBefore(b,d);a._i=[];a.init=function(b,c,f){function d(a,b){var c=b.split(".");2==c.length&&(a=a[c[0]],b=c[1]);a[b]=function(){a.push([b].concat(Array.prototype.slice.call(arguments,0)))}}var g=a;"undefined"!==typeof f?
		g=a[f]=[]:f="mixpanel";g.people=g.people||[];h="disable track track_pageview track_links track_forms register register_once unregister identify name_tag set_config people.identify people.set people.increment".split(" ");for(e=0;e<h.length;e++)d(g,h[e]);a._i.push([b,c,f])};a.__SV=1.1})(document,window.mixpanel||[]);
		mixpanel.init("750ff8a7a4de7e1b9adc97508f85c878");</script><!-- end Mixpanel -->

		<script type="text/javascript">

		  var _gaq = _gaq || [];
		  _gaq.push(['_setAccount', '<%= ENV["GOOGLE_ANALYTICS_CODE"] %>']);
		  _gaq.push(['_trackPageview']);

		  (function() {
		    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
		    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
		    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
		  })();

		</script>
		<script type="text/javascript" src="//use.typekit.net/wod1jtz.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
	</head>
	<body data-spy="scroll" data-target="#chapters">
		<div class="container">
			<div class="navbar navbar-fixed-top">
				<div class="navbar-inner">
					<div class="container">
						<a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</a>
						<a class="brand" href="/">Annotation Studio</a>
						<div class="container nav-collapse">
							<ul class="nav">
								<li><%= link_to "Documents", "/documents" %></li>
								<% if params[:controller] == 'documents' && params[:action] == 'show' %>
								<li><a data-toggle="modal" href="#help">Help</a></li>
								<% end %>
							</ul>
							<a class="hidden-phone logo" href="/"><img src="/assets/hs-logo-trans-horiz.png"></a>
							<ul class="nav" id="accountlinks">
								<%= render 'devise/menu/registration_items' %>
								<%= render 'devise/menu/login_items' %>
							</ul>
						</div><!--/.nav-collapse -->
					</div><!--/.container -->
				</div><!--/.navbar-inner -->
			</div><!--/.navbar-fixed-top -->
			<%= bootstrap_flash %>
			<noscript>
				<div class="alert alert-error">For Annotation Studio to work, it is necessary to enable JavaScript. Here are <a href="http://www.enable-javascript.com/" target="_blank"> instructions how to enable JavaScript in your web browser</a>.</div>
			</noscript>

			<%= yield %>

			<footer>
				<p>&copy; MIT <%= Time.now.year %></p>
			</footer>
		</div><!-- /container -->
	</body>
</html>
